### TUple

In [3]:
# initialization 
t1 = ()
t2 = tuple()
t3 = (1,2,3) 
t4 = tuple([1,2,3]) 

print(f"Tuple 1 : {t1}\nData Type : {type(t1)}\nMemory Location : {id(t1)}\n")
print(f"Tuple 1 : {t2}\nData Type : {type(t2)}\nMemory Location : {id(t2)}\n")
print(f"Tuple 1 : {t3}\nData Type : {type(t3)}\nMemory Location : {id(t3)}\n")
print(f"Tuple 1 : {t4}\nData Type : {type(t4)}\nMemory Location : {id(t4)}\n")

Tuple 1 : ()
Data Type : <class 'tuple'>
Memory Location : 140705438918080

Tuple 1 : ()
Data Type : <class 'tuple'>
Memory Location : 140705438918080

Tuple 1 : (1, 2, 3)
Data Type : <class 'tuple'>
Memory Location : 2373267076864

Tuple 1 : (1, 2, 3)
Data Type : <class 'tuple'>
Memory Location : 2373267016128

In [5]:
t5 = (5)
print(t5 ,type(t5))

5 <class 'int'>

In [6]:

t6 = (5, )  
print(t6, type(t6))

(5,) <class 'tuple'>

In [7]:
a,b = 100,200
print(a,b )

100 200

In [12]:
c = 10,20
print(c,type(c)) 
d = 10,20,30
print(d,type(d))

(10, 20) <class 'tuple'>
(10, 20, 30) <class 'tuple'>

In [14]:
# Accessing (Indexing : Forward & Negative)

tup = (8,4,2,3,1,9,23,40)
print(f"Original Tuple : {tup}") 

print(f"First Element : {tup[0]}")
print(f"Last Element : {tup[-1]}")

Original Tuple : (8, 4, 2, 3, 1, 9, 23, 40)
First Element : 8
Last Element : 40

### DEfault values of slicer : (start:0, Stop:len(tuple), Step:1)

In [26]:
# Slicing (slicer[start:stop:step])

print(f"First 3 Element : {tup[0:3:1]}") 
print(f"Last 3 Element : {tup[-1:-4:-1]}")
print(f"Length : {tup[0:len(tup):1]}")
print(f"Length : {tup[:len(tup):1]}")
print(f"Length : {tup[:len(tup):]}")

First 3 Element : (8, 4, 2)
Last 3 Element : (40, 23, 9)
Length : (8, 4, 2, 3, 1, 9, 23, 40)
Length : (8, 4, 2, 3, 1, 9, 23, 40)
Length : (8, 4, 2, 3, 1, 9, 23, 40)

## Concept of mutability : (Tuple : immutable)
### Insertion, updation, Deletion Not allowed

In [27]:
# Looping (All three types of for loop )
# Index based for loop (Index --> Accessin --> Data)
for i in range(len(tup)):
    print(f"Index :{i}, Data : {tup[i]}")

Index :0, Data : 8
Index :1, Data : 4
Index :2, Data : 2
Index :3, Data : 3
Index :4, Data : 1
Index :5, Data : 9
Index :6, Data : 23
Index :7, Data : 40

In [29]:
# item baseds for loop 
for item in tup:
    print(item,end=" ")

8 4 2 3 1 9 23 40

In [30]:
# Enumerate based for loop (Index as well as Data)

for index,item in enumerate(tup):
    print(F"Index : {index}, Data : {item}")

Index : 0, Data : 8
Index : 1, Data : 4
Index : 2, Data : 2
Index : 3, Data : 3
Index : 4, Data : 1
Index : 5, Data : 9
Index : 6, Data : 23
Index : 7, Data : 40

In [35]:
# Membership 
print(f"{40} in {tup} : {40 in tup}")
print(f"{100} in {tup} : {100 in tup}")
print(f"{0} in {tup} : {0 not in tup}")
print(f"{2} in {tup} : {2 not in tup}")

40 in (8, 4, 2, 3, 1, 9, 23, 40) : True
100 in (8, 4, 2, 3, 1, 9, 23, 40) : False
0 in (8, 4, 2, 3, 1, 9, 23, 40) : True
2 in (8, 4, 2, 3, 1, 9, 23, 40) : False

In [36]:
# passing tuple as parameter 
from typing import Tuple

In [41]:
def add(a:int, b :int , *x : Tuple[int]) -> int:
    print(f"a = {a}\nb = {b}\nx = {x}")
    ans = a + b 
    for item in x:
        ans += item
    return ans

In [42]:
add(1,2)

a = 1
b = 2
x = ()

3

In [43]:
add(1,2,3)

a = 1
b = 2
x = (3,)

6

In [44]:
add(1,2,3,4)

a = 1
b = 2
x = (3, 4)

10

In [60]:
def add(a :int , b:int, *x : Tuple[int]) -> int:
    return a + b + sum(x)

In [61]:
add(1,2,3,4,5)

15

In [ ]:
# Tuple comprehension 
t = (item for item in input().split()) # Tuple[str] 
print(t)
li = list(t) 
print(li) # List of str

<generator object <genexpr> at 0x00000228919E6740>
['1', '2', '3', '4', '5']

In [66]:
t = tuple(item for item in input().split()) 

for item in t:
    print(item,end=" ")

1 2 3 4 5 6 7 8