## Basic operaitons

In [1]:
a = 20 
print(a)

20

In [2]:
a =5
print(type(a) ,id(a),sep ='\n' )

<class 'int'>
140715552359464

In [3]:
print(id(a))

140715552359464

In [4]:
pi = 3.14 
print(pi) 
print(type(pi)) 
print(id(pi))

3.14
<class 'float'>
1472633140976

In [5]:
new = True 
print(new, type(new), id(new))

True <class 'bool'> 140715551474096

In [6]:
d = None 
print(f"Data : {d}\nData Type : {type(d)}\nMemory Location : {id(d)}")

Data : None
Data Type : <class 'NoneType'>
Memory Location : 140715551474160

In [7]:
name = "HashiRama Senju" 
print(name, type(name), id(name), sep ='\n')

HashiRama Senju
<class 'str'>
1472634895728

In [8]:
a = 10 
print(f"data : {a}, Memory Location  : {id(a)}")
a = 10 
print(f"data : {a}, Memory Location  : {id(a)}")

data : 10, Memory Location  : 140715552359624
data : 10, Memory Location  : 140715552359624

In [9]:
print(a)

10

In [10]:
b = 20

In [11]:
a = 100
b = -255
c = -255

In [12]:

print(f"a : {a}, Memory Location : {id(a)}")
print(f"b : {b}, Memory Location : {id(b)}")
print(f"c : {c}, Memory Location : {id(c)}")

a : 100, Memory Location : 140715552362504
b : -255, Memory Location : 1472634618224
c : -255, Memory Location : 1472634621136

## Operators : Arithematic Operators

In [13]:
a = 12 
b = 5 

print(f"{a} + {b} = {a + b}")
print(f"{a} - {b} = {a - b}")
print(f"{a} * {b} = {a * b}")
print(f"{a} / {b} = {a / b}")
print(f"{a} // {b} = {a // b}")
print(f"{a} % {b} = {a % b}")
print(f"{a} ** {b} = {a ** b}")

12 + 5 = 17
12 - 5 = 7
12 * 5 = 60
12 / 5 = 2.4
12 // 5 = 2
12 % 5 = 2
12 ** 5 = 248832

## Operators : Comparison Operator

In [14]:
a = 10 
b = 10 

print(f"a = {a}, b = {b}")
print(f"{a} == {b} : {a == b}")
print(f"{a} != {b} : {a != b}")
print(f'{a} < {b} : {a < b}')
print(f'{a} > {b} : {a > b}')
print(f'{a} <= {b} : {a <= b}')
print(f'{a} >= {b} : {a >= b}')

a = 10, b = 10
10 == 10 : True
10 != 10 : False
10 < 10 : False
10 > 10 : False
10 <= 10 : True
10 >= 10 : True

In [15]:
a= 10 
b= 20 

print(f"a = {a}, b = {b} ")
print(f"{a} == {b} : {a == b}")
print(f"{a} != {b} : {a != b}")
print(f"{a} < {b} : {a < b }")
print(f"{a} > {b} : {a >=  b } ")
print(f"{a} <= {b} : {a <= b}")
print(f"{a} >= {b} : {a >= b}")

a = 10, b = 20
10 == 20 : False
10 != 20 : True
10 < 20 : True
10 > 20 : False
10 <= 20 : True
10 >= 20 : False

## print methods

In [1]:

p = 100000
r = 10
t = 60 
si = p * r * t / 100 * 12

In [2]:
#1. normal method
print("The simple Interest for" ,p,  "at" ,r, "% rate of interest for" ,t, "months is" ,si )

The simple Interest for 100000 at 10 % rate of interest for 60 months is 7200000.0

In [18]:
# f-string mwthod (formatting string literal)
print(f"The simple Interest for {p}  at {r} % rate of interest for {t} moths is {si} ")

The simple Interest for 100000  at 10 % rate of interest for 60 moths is 7200000.0

In [19]:
#3. Format method 
print( "The simple Interest for {} at {} % rate of interest for {} months is {}" .format (p,r,t,si))

The simple Interest for 100000 at 10 % rate of interest for 60 months is 7200000.0

In [20]:
base = 100
height = 50 
AREA = 0.5 * base * height
print(f"The area of Triangle is {AREA}")

The area of Triangle is 2500.0

In [21]:
l = 100
b = 50
area = l * b 
print(f"The area of rectangle is {area}")

The area of rectangle is 5000

In [22]:
side = 10 
area = side * side 
print(f"The area of Square is {area}")

The area of Square is 100

In [23]:
R = 15
pi = 3.14
area = pi * R * R
print(f"The area of Circle is {area}")

The area of Circle is 706.5

In [1]:
a = int (input("Enter first number"))
b = int (input("Enter second number"))
print (f"Entered numbers are {a} & {b}")

Entered numbers are 2 & 2

In [ ]:
r = float (input("Enter the Radius : "))
area = 3.14 * r 
print(f"area of circle with radius {r} is {area}")

area of circle with radius 10.0 is 31.400000000000002