In [75]:
string = " ".join([chr(item) for item in range(ord("A"), ord("Z") + 1)]) 
print(string)

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

# Dictionary
#### Initialization

In [76]:
d1 = {}
d2 = dict()
d3 = {1 : 4, 2 : 6}
d4 = dict({3 : 7, 4 : 8})
# d5 = dict('a' = 10, 'b' = 20) 
d5 = dict([(10,20),(30,40),(50,60)])

print(f"Dictionary 1 : {d1}\nMemory Location : {id(d1)}\nDataType : {type(d1)}\n")
print(f"Dictionary 1 : {d2}\nMemory Location : {id(d2)}\nDataType : {type(d2)}\n")
print(f"Dictionary 1 : {d3}\nMemory Location : {id(d3)}\nDataType : {type(d3)}\n")
print(f"Dictionary 1 : {d4}\nMemory Location : {id(d4)}\nDataType : {type(d4)}\n")
print(f"Dictionary 1 : {d5}\nMemory Location : {id(d5)}\nDataType : {type(d5)}\n")

Dictionary 1 : {}
Memory Location : 2773944322176
DataType : <class 'dict'>

Dictionary 1 : {}
Memory Location : 2773944368768
DataType : <class 'dict'>

Dictionary 1 : {1: 4, 2: 6}
Memory Location : 2773948056512
DataType : <class 'dict'>

Dictionary 1 : {3: 7, 4: 8}
Memory Location : 2773944366592
DataType : <class 'dict'>

Dictionary 1 : {10: 20, 30: 40, 50: 60}
Memory Location : 2773944358656
DataType : <class 'dict'>

In [77]:
king = {
    "Name" : "Virat Kohli", 
    "Jersey No" : 18, 
    "Best Score" : 254, 
    "Best Performance" : ['Mohali', 'Melbourne'], 
    "Man Of The Series" : 32, 
    "No Of Centuries" : 85
}

In [78]:
print(king, type(king))

{'Name': 'Virat Kohli', 'Jersey No': 18, 'Best Score': 254, 'Best Performance': ['Mohali', 'Melbourne'], 'Man Of The Series': 32, 'No Of Centuries': 85} <class 'dict'>

In [79]:
king

{'Name': 'Virat Kohli',
 'Jersey No': 18,
 'Best Score': 254,
 'Best Performance': ['Mohali', 'Melbourne'],
 'Man Of The Series': 32,
 'No Of Centuries': 85}

In [80]:
# Accessing 
king['Name']
# king['No Of Centuries']

'Virat Kohli'

In [81]:
# king['wife'] KeyError: 'wife'

In [82]:
# Get method 

king.get("Man Of The Match", "Key Not Found")

'Key Not Found'

In [83]:
king.get("No Of Centuries")

85

In [84]:
# Updation 

king["No Of Centuries"] = 100

In [85]:
king

{'Name': 'Virat Kohli',
 'Jersey No': 18,
 'Best Score': 254,
 'Best Performance': ['Mohali', 'Melbourne'],
 'Man Of The Series': 32,
 'No Of Centuries': 100}

In [86]:
# Insertion

In [87]:
king['wife'] = "Anushka sharma"

In [88]:
king['Nick Name'] = 'Chiku'

In [89]:
king

{'Name': 'Virat Kohli',
 'Jersey No': 18,
 'Best Score': 254,
 'Best Performance': ['Mohali', 'Melbourne'],
 'Man Of The Series': 32,
 'No Of Centuries': 100,
 'wife': 'Anushka sharma',
 'Nick Name': 'Chiku'}

In [90]:
# Deletion 
# king.pop("Nick Name")
king.pop("wife")

'Anushka sharma'

In [91]:
king

{'Name': 'Virat Kohli',
 'Jersey No': 18,
 'Best Score': 254,
 'Best Performance': ['Mohali', 'Melbourne'],
 'Man Of The Series': 32,
 'No Of Centuries': 100,
 'Nick Name': 'Chiku'}

In [95]:
king.popitem()#remove last one

('Nick Name', 'Chiku')

In [98]:
king

{'Name': 'Virat Kohli',
 'Jersey No': 18,
 'Best Score': 254,
 'Best Performance': ['Mohali', 'Melbourne'],
 'Man Of The Series': 32,
 'No Of Centuries': 100}

In [96]:
# Keys 
king.keys()

dict_keys(['Name', 'Jersey No', 'Best Score', 'Best Performance', 'Man Of The Series', 'No Of Centuries'])

In [97]:
for all_keys in king.keys():
    print(all_keys)

Name
Jersey No
Best Score
Best Performance
Man Of The Series
No Of Centuries

In [99]:
king.values()

dict_values(['Virat Kohli', 18, 254, ['Mohali', 'Melbourne'], 32, 100])

In [100]:
for values in king.values():
    print(values)

Virat Kohli
18
254
['Mohali', 'Melbourne']
32
100

In [103]:
king.items()

dict_items([('Name', 'Virat Kohli'), ('Jersey No', 18), ('Best Score', 254), ('Best Performance', ['Mohali', 'Melbourne']), ('Man Of The Series', 32), ('No Of Centuries', 100)])

In [104]:
a = (1,2)
print(a, type(a))

(1, 2) <class 'tuple'>

In [105]:
x ,y = a

In [106]:
print(a,x,y)

(1, 2) 1 2

In [108]:
king.items()

dict_items([('Name', 'Virat Kohli'), ('Jersey No', 18), ('Best Score', 254), ('Best Performance', ['Mohali', 'Melbourne']), ('Man Of The Series', 32), ('No Of Centuries', 100)])

In [ ]:
for item in king.items():
    key, value = item 
    print(f"Key = {key}, Value = {value}")

Key = Name, Value = Virat Kohli
Key = Jersey No, Value = 18
Key = Best Score, Value = 254
Key = Best Performance, Value = ['Mohali', 'Melbourne']
Key = Man Of The Series, Value = 32
Key = No Of Centuries, Value = 100

In [111]:
for key, value in king.items(): 
    print(f"Key = {key}, Value = {value}")

Key = Name, Value = Virat Kohli
Key = Jersey No, Value = 18
Key = Best Score, Value = 254
Key = Best Performance, Value = ['Mohali', 'Melbourne']
Key = Man Of The Series, Value = 32
Key = No Of Centuries, Value = 100

In [112]:
square_dict = {i : i ** 2 for i in range(1,11,1)}

In [113]:
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [116]:
even_squares = {i : i ** 2 for i in range(1,11,1) if i % 2 == 0} 
print(even_squares)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [117]:
odd_squares = {i : i ** 2 for i in range(1,11,1) if i % 2 != 0} 
print(odd_squares)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [118]:
square_structure = [(i,i**2) for i in range(1,11,1) if i % 2 == 0]

In [119]:
square_structure

[(2, 4), (4, 16), (6, 36), (8, 64), (10, 100)]

In [120]:
a,b = 10,11 
print(a,b)

10 11

In [121]:
c = 10,20 
print(c,type(c))

(10, 20) <class 'tuple'>

In [122]:
# Memebership 
d = {
    'a' : 1,
    'b' : 11,
}

In [123]:
# by default seraching is key 
'a' in d

True

In [124]:
1 in d

False

In [125]:
'a' in d.keys()

True

In [128]:
'a' in d.values()

False

In [130]:
1 in d

False

In [131]:
1 in d.values()

True

In [132]:
1 in d.keys()

False

In [133]:
d = {
    'd1' : {'a' : 1, 'b' : 2},
    'd2' : {'c' : 3, 'd' : 4},
}

In [134]:
d

{'d1': {'a': 1, 'b': 2}, 'd2': {'c': 3, 'd': 4}}

In [ ]:
# .get method 
d.get('d2',"Item not found").get('df',"item not found")

'item not found'

In [140]:
d.get('d1',"not found").get('b',"not found")

2

In [147]:
keys = ['a','b','c','d']
dictionary = dict.fromkeys(keys, 0)  
print(dictionary)

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [149]:
dictionary['a'] = "asdfghjkl"
dictionary

{'a': 'asdfghjkl', 'b': 0, 'c': 0, 'd': 0}

In [150]:
dictionary.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [174]:
d1 = {
    'a' : 1, 
    'b' : 2
}

d2 = {
    'c' : 3, 
    'd' : 4
}

In [177]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [176]:
d1.update(d2)

In [153]:
d2

{'c': 3, 'd': 4}

In [154]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [170]:
d1 = {
    'a' : 1, 
    'b' : 2
}

d2 = {
    'b' : 3, 
    'c' : 4
}

In [173]:
d1

{'a': 1, 'b': 3, 'c': 4}

In [172]:
d1.update(d2)

In [164]:
d2

{'b': 3, 'c': 4}

In [165]:
d1

{'a': 1, 'b': 3, 'c': 4}