## PS : prime number detection with function/ leap year qs & funciton

In [ ]:
n = int(input("Enter a year"))

if n % 4 != 0:
    print("not a leap year")

elif n% 4==0 :
    print("leap year") 
elif n % 100 != 0:
    print("not leap year")
elif n % 100 == 0:
    print("leap year")
elif n % 400 != 0:
    print("not leap year")
elif n % 400 == 0:
    print("leap year")

leap year

In [74]:
n = int(input("Enter a year"))

if n % 4 == 0 or n % 100 == 0 or  n % 400 == 0:
    print("leap")
else:
    print("not leap")

# 0 or n % 400 == 0:
#     print("leap year") 

# elif n % 4!=0 or n % 100 !=0 or n % 400 !=0:
#     print("not leap year")
# elif n % 4 ==0 or n % 100 ==0 or n % 400 == 0:
#     print("leap year")

leap

In [ ]:
n = int(input())
if n % 4 == 0 :
    
    if n % 100 == 0:

        if n % 400 == 0:
            print("Leap year")      
else:
    print("Not leap year")

In [ ]:
## leap year function and use it 
## and 2000-3000 mai se sare leap year likho vaisa 
## and

## Functions

In [1]:
print('''#include <iostream>
using namespace std;  

// Function Declaration 
int add(int x, int y); 

int main() {
    
    int a, b, total = 0; 
    
    cout<<"Enter the first value : "; 
    cin >> a; 

    cout << "Enter the second value : "; 
    cin >> b; 
    
    // Function Call 
    total = add(a, b); // here a & b are called Arguments  
    
    cout << "The Sum of " << a << " & " << b << " is " << total; 
    

    return 0;
}

// Function Definition 
int add(int x, int y){
    return x + y; 
}''')

#include <iostream>
using namespace std;

// Function Declaration
int add(int x, int y);

int main() {

    int a, b, total = 0;

    cout<<"Enter the first value : ";
    cin >> a;

    cout << "Enter the second value : ";
    cin >> b;

    // Function Call
    total = add(a, b); // here a & b are called Arguments

    cout << "The Sum of " << a << " & " << b << " is " << total;


    return 0;
}

// Function Definition
int add(int x, int y){
    return x + y;
}

In [2]:
print('''#include <iostream>
using namespace std;  

// Function Declaration & Definition  
int add(int x, int y){
    return x + y; 
}


int main() {
    
    int a, b, total = 0; 
    
    cout<<"Enter the first value : "; 
    cin >> a; 

    cout << "Enter the second value : "; 
    cin >> b; 
    
    // Function Call 
    total = add(a, b); // here a & b are called Arguments  
    
    cout << "The Sum of " << a << " & " << b << " is " << total; 
    

    return 0;
}

''')

#include <iostream>
using namespace std;

// Function Declaration & Definition
int add(int x, int y){
    return x + y;
}


int main() {

    int a, b, total = 0;

    cout<<"Enter the first value : ";
    cin >> a;

    cout << "Enter the second value : ";
    cin >> b;

    // Function Call
    total = add(a, b); // here a & b are called Arguments

    cout << "The Sum of " << a << " & " << b << " is " << total;


    return 0;
}

In [3]:
def add(a, b): 
    return a + b 

def add2(a : int, b : int) -> int:
    return a + b

In [4]:
# Function Declaration & Definition 
def add(a, b): # a & b are parameters 
    return a + b 

x = int(input("Enter the first Number : ")) 
y =  int(input("Enter the second Number : "))

total = add(x, y) # Function Call , here x & y are arguments 

print(f"The Sum of {x} & {y} is {total}")

The Sum of 20 & 10 is 30

In [6]:
add(10,30)

40

In [8]:
add2(20,30)

50

In [9]:
def divide(a : int, b : int) -> float | str:
    if b == 0:
        return "Denominator Cannot Be Zero!"

    return a / b

In [13]:
divide(10,2)
divide(10,0)

'Denominator Cannot Be Zero!'

In [14]:
divide(10,2)

5.0

In [15]:
divide(10,0)

'Denominator Cannot Be Zero!'

In [19]:
# permtation and combination 
n = int(input()) 
r = int(input()) 
n_fact,r_fact,n_r_fact = 1,1,1
# n_fact = r_fact = n_r_fact = 1 
for i in range (1 , n+1):
    n_fact *= i 
for i in range (1 , r+1):
    r_fact *= i 
for i in range (1 , n - r +1):
    n_r_fact *= i

answer = n_fact / (r_fact * n_r_fact)
print(f"n = {n} and r = {r}")
print(f"{n}C{r} = {answer}")

n = 2 and r = 3
2C3 = 0.3333333333333333

In [20]:
def factorial(n : int) -> int:
    ans = 1 

    for i in range(2, n+1):
        ans *= i 
    
    return ans

In [21]:
n = int(input("n = "))
r = int(input('r = '))

ans = factorial(n) / (factorial(r) * factorial(n-r))

print(f"{n}C{r} = {ans}")

2C3 = 0.3333333333333333

In [22]:
# Prime Number 

def isPrime(n : int) -> bool:
    if n < 2:
        return False 
    
    for i in range(2, n):
        if n % i == 0:
            return False 
    else:
        return True

In [ ]:
for i in range(1, 101, 1):
    print(f"{i} --> {'Prime' if isPrime(i) == True else 'Not Prime'}",end= " ")

1 --> Not Prime
2 --> Prime
3 --> Prime
4 --> Not Prime
5 --> Prime
6 --> Not Prime
7 --> Prime
8 --> Not Prime
9 --> Not Prime
10 --> Not Prime
11 --> Prime
12 --> Not Prime
13 --> Prime
14 --> Not Prime
15 --> Not Prime
16 --> Not Prime
17 --> Prime
18 --> Not Prime
19 --> Prime
20 --> Not Prime
21 --> Not Prime
22 --> Not Prime
23 --> Prime
24 --> Not Prime
25 --> Not Prime
26 --> Not Prime
27 --> Not Prime
28 --> Not Prime
29 --> Prime
30 --> Not Prime
31 --> Prime
32 --> Not Prime
33 --> Not Prime
34 --> Not Prime
35 --> Not Prime
36 --> Not Prime
37 --> Prime
38 --> Not Prime
39 --> Not Prime
40 --> Not Prime
41 --> Prime
42 --> Not Prime
43 --> Prime
44 --> Not Prime
45 --> Not Prime
46 --> Not Prime
47 --> Prime
48 --> Not Prime
49 --> Not Prime
50 --> Not Prime
51 --> Not Prime
52 --> Not Prime
53 --> Prime
54 --> Not Prime
55 --> Not Prime
56 --> Not Prime
57 --> Not Prime
58 --> Not Prime
59 --> Prime
60 --> Not Prime
61 --> Prime
62 --> Not Prime
63 --> Not Prime
64 --> Not Prime
65 --> Not Prime
66 --> Not Prime
67 --> Prime
68 --> Not Prime
69 --> Not Prime
70 --> Not Prime
71 --> Prime
72 --> Not Prime
73 --> Prime
74 --> Not Prime
75 --> Not Prime
76 --> Not Prime
77 --> Not Prime
78 --> Not Prime
79 --> Prime
80 --> Not Prime
81 --> Not Prime
82 --> Not Prime
83 --> Prime
84 --> Not Prime
85 --> Not Prime
86 --> Not Prime
87 --> Not Prime
88 --> Not Prime
89 --> Prime
90 --> Not Prime
91 --> Not Prime
92 --> Not Prime
93 --> Not Prime
94 --> Not Prime
95 --> Not Prime
96 --> Not Prime
97 --> Prime
98 --> Not Prime
99 --> Not Prime
100 --> Not Prime

In [47]:
count = 1 
for i in range(1, 101, 1):
    
    if isPrime(i):
        if count <=10:
            print(f"{i} --> {'Prime' if isPrime(i) == True else 'Not Prime'}",end= "\t")
            count = count + 1
        else:
            print()
            count = 1

2 --> Prime	3 --> Prime	5 --> Prime	7 --> Prime	11 --> Prime	13 --> Prime	17 --> Prime	19 --> Prime	23 --> Prime	29 --> Prime
37 --> Prime	41 --> Prime	43 --> Prime	47 --> Prime	53 --> Prime	59 --> Prime	61 --> Prime	67 --> Prime	71 --> Prime	73 --> Prime
83 --> Prime	89 --> Prime	97 --> Prime

In [45]:
count = 1
for i in range(1, 101, 1):
    print(f"{i} --> {'Prime' if isPrime(i) == True else 'Not Prime'}",end= "\t")
    if isPrime(i):
        if count <= 5:
            # print(f"{i} --> {'Prime' if isPrime(i) == True else 'Not Prime'}",end= "\t")
            count = count + 1
        else:
            print()
            count = 1

1 --> Not Prime	2 --> Prime	3 --> Prime	4 --> Not Prime	5 --> Prime	6 --> Not Prime	7 --> Prime	8 --> Not Prime	9 --> Not Prime	10 --> Not Prime	11 --> Prime	12 --> Not Prime	13 --> Prime
14 --> Not Prime	15 --> Not Prime	16 --> Not Prime	17 --> Prime	18 --> Not Prime	19 --> Prime	20 --> Not Prime	21 --> Not Prime	22 --> Not Prime	23 --> Prime	24 --> Not Prime	25 --> Not Prime	26 --> Not Prime	27 --> Not Prime	28 --> Not Prime	29 --> Prime	30 --> Not Prime	31 --> Prime	32 --> Not Prime	33 --> Not Prime	34 --> Not Prime	35 --> Not Prime	36 --> Not Prime	37 --> Prime
38 --> Not Prime	39 --> Not Prime	40 --> Not Prime	41 --> Prime	42 --> Not Prime	43 --> Prime	44 --> Not Prime	45 --> Not Prime	46 --> Not Prime	47 --> Prime	48 --> Not Prime	49 --> Not Prime	50 --> Not Prime	51 --> Not Prime	52 --> Not Prime	53 --> Prime	54 --> Not Prime	55 --> Not Prime	56 --> Not Prime	57 --> Not Prime	58 --> Not Prime	59 --> Prime	60 --> Not Prime	61 --> Prime
62 --> Not Prime	63 --> Not Prime	64 --> Not Prime	65 --> Not Prime	66 --> Not Prime	67 --> Prime	68 --> Not Prime	69 --> Not Prime	70 --> Not Prime	71 --> Prime	72 --> Not Prime	73 --> Prime	74 --> Not Prime	75 --> Not Prime	76 --> Not Prime	77 --> Not Prime	78 --> Not Prime	79 --> Prime	80 --> Not Prime	81 --> Not Prime	82 --> Not Prime	83 --> Prime	84 --> Not Prime	85 --> Not Prime	86 --> Not Prime	87 --> Not Prime	88 --> Not Prime	89 --> Prime
90 --> Not Prime	91 --> Not Prime	92 --> Not Prime	93 --> Not Prime	94 --> Not Prime	95 --> Not Prime	96 --> Not Prime	97 --> Prime	98 --> Not Prime	99 --> Not Prime	100 --> Not Prime

In [ ]:
for i in range(1, 51, 1):
    if isPrime(i):
        print(i, end = " ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [100]:
for i in range(1, 101, 1):
    if isPrime(i):
        print(i, end = " ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [98]:
n = 4 
for i in range(n):
    for j in range(n -i):
        print("*",end=" ")
    for k in range(i):
        print(" ",end= " ") 
    print() 
for i in range(n):
    for sp in range(n-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")

    print()

* * * *
* * *
* *
*
      *
    * *
  * * *
* * * *

In [101]:
# Leap year detector :
year = int(input()) 

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(f'{year} is a leap year')
        else:
            print(f"{year} is not a leap year")
    else:
        print(f"{year}  is a leap year")
else:
    print(f"{year} is not a leap year")

2000 is a leap year

In [102]:
year = int(input()) 
if year % 400 == 0:
    print(f"{year}  is a leap year")
elif year % 4 == 0 and year % 100 != 0:
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

1900 is not a leap year

In [103]:
year = int(input()) 

if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

2004 is a leap year

In [107]:
def isLeapYear(year : int) -> None:
    if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
        print(f"{year} is a leap year")
    else:
        print(f"{year} is not a leap year")

In [110]:
return_value = isLeapYear(2004) 
print(return_value)

2004 is a leap year
None

In [111]:
def isLeapYear(year : int) -> bool:
    if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
        return True 
    else:
        return False

In [130]:
count = 1
for i in range(0, 2026):
    if isLeapYear(i):
        if count <= 19:
            print(i, end = "\t") 
            if i == 1896:
                print("1900 is skip")
            count = count + 1 
        else:
            print() 
            count = 1

0	4	8	12	16	20	24	28	32	36	40	44	48	52	56	60	64	68	72
80	84	88	92	96	104	108	112	116	120	124	128	132	136	140	144	148	152	156
164	168	172	176	180	184	188	192	196	204	208	212	216	220	224	228	232	236	240
248	252	256	260	264	268	272	276	280	284	288	292	296	304	308	312	316	320	324
332	336	340	344	348	352	356	360	364	368	372	376	380	384	388	392	396	400	404
412	416	420	424	428	432	436	440	444	448	452	456	460	464	468	472	476	480	484
492	496	504	508	512	516	520	524	528	532	536	540	544	548	552	556	560	564	568
576	580	584	588	592	596	604	608	612	616	620	624	628	632	636	640	644	648	652
660	664	668	672	676	680	684	688	692	696	704	708	712	716	720	724	728	732	736
744	748	752	756	760	764	768	772	776	780	784	788	792	796	800	804	808	812	816
824	828	832	836	840	844	848	852	856	860	864	868	872	876	880	884	888	892	896
908	912	916	920	924	928	932	936	940	944	948	952	956	960	964	968	972	976	980
988	992	996	1004	1008	1012	1016	1020	1024	1028	1032	1036	1040	1044	1048	1052	1056	1060	1064
1072	1076	1080	1084	1088	1092	1096	1104	1108	1112	1116	1120	1124	1128	1132	1136	1140	1144	1148
1156	1160	1164	1168	1172	1176	1180	1184	1188	1192	1196	1200	1204	1208	1212	1216	1220	1224	1228
1236	1240	1244	1248	1252	1256	1260	1264	1268	1272	1276	1280	1284	1288	1292	1296	1304	1308	1312
1320	1324	1328	1332	1336	1340	1344	1348	1352	1356	1360	1364	1368	1372	1376	1380	1384	1388	1392
1404	1408	1412	1416	1420	1424	1428	1432	1436	1440	1444	1448	1452	1456	1460	1464	1468	1472	1476
1484	1488	1492	1496	1504	1508	1512	1516	1520	1524	1528	1532	1536	1540	1544	1548	1552	1556	1560
1568	1572	1576	1580	1584	1588	1592	1596	1600	1604	1608	1612	1616	1620	1624	1628	1632	1636	1640
1648	1652	1656	1660	1664	1668	1672	1676	1680	1684	1688	1692	1696	1704	1708	1712	1716	1720	1724
1732	1736	1740	1744	1748	1752	1756	1760	1764	1768	1772	1776	1780	1784	1788	1792	1796	1804	1808
1816	1820	1824	1828	1832	1836	1840	1844	1848	1852	1856	1860	1864	1868	1872	1876	1880	1884	1888
1896	1900 is skip
1904	1908	1912	1916	1920	1924	1928	1932	1936	1940	1944	1948	1952	1956	1960	1964	1968	1972
1980	1984	1988	1992	1996	2000	2004	2008	2012	2016	2020	2024

In [117]:
count = 1
for i in range(2000, 2026):
    if isLeapYear(i):
        if count <= 6:
            print(i, end = "\t") 
            count = count + 1 
        else:
            print() 
            count = 1

2000	2004	2008	2012	2016	2020