In [8]:
n = 10
st = 1
while st <= n:
    print(st, end=" ")
    st +=1

1 2 3 4 5 6 7 8 9 10

### For loop 
##### Types of for loop :
1.Index based
2.Item based
3.Enumerate based

#### 1.Index based (works on numeric data)
function: range (start,stop,stride/step)

In [10]:
for item in range(1,10,1):
    print(item,end=" ")

1 2 3 4 5 6 7 8 9

In [13]:
for item in range(1,10,2):
    print(item,end=" ")

1 3 5 7 9

In [ ]:
# this will not run 
for i in range(10,0,1):
    print(i, end=" ")

In [12]:
for i in range(10,0,-1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

In [11]:
for i in range(10, 0, -2):
    print(i, end = " ")

10 8 6 4 2

In [20]:
n = 10
while n > 0:
    print(n,end = " ")
    n -=1

10 9 8 7 6 5 4 3 2 1

In [3]:
n = int(input("Enter a number"))
for i in range(1,n + 1,1):
    print(i,end=" ")

1 2 3 4 5

In [10]:
# print all even numbers between 1 and 20 

for i in range(1, 21, 1):
    # if i % 2 == 0: print(i, end = " ")  IF EVEN THEN PRINT 
    # IF ODD THEN SKIP
    if i % 2 != 0:
        continue
    
    print(i, end = " ")

2 4 6 8 10 12 14 16 18 20

In [14]:
i = 1 
while i < 21:
    if i % 2 != 0:
        i += 1 
        continue
    print(i, end = " ")  
    i += 1

2 4 6 8 10 12 14 16 18 20

Default values of range()

In [15]:
for i in range(1, 11, 1):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [17]:
for i in range(1, 11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [18]:
for i in range(11):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9 10

In [21]:
for i in range (10):
    print(i+ 1,end=" ")

1 2 3 4 5 6 7 8 9 10

In [131]:
# prime number 
n = int(input("Enter a number"))
if n < 2:
    print(f"{n} is not prime number")
else:
    for num in range(2,n):
        if n % num == 0: 
            print(f"{n} is not prime")
            break
    else:
        print(f"{n} is prime number")

87 is not prime

## Nested looping

In [63]:
for outer_loop in range(1,6):
    print(f"{outer_loop}" , end=" -->")
    for inner_loop in range (10,13):
        print(f"{inner_loop}",end=" ")
    print()

1 -->10 11 12
2 -->10 11 12
3 -->10 11 12
4 -->10 11 12
5 -->10 11 12

In [64]:
for outer_loop in range(1,6):
    print(f"{outer_loop}" , end=" -->")
    for inner_loop in range (10,13):
        print(f"{inner_loop}",end=",")
    print()

1 -->10,11,12,
2 -->10,11,12,
3 -->10,11,12,
4 -->10,11,12,
5 -->10,11,12,

In [ ]:
for i  in range(5):
    for j in range(5):
        print(f"({i + 1}  {j + 1})" , end=" ")
    print()

(1  1) (1  2) (1  3) (1  4) (1  5)
(2  1) (2  2) (2  3) (2  4) (2  5)
(3  1) (3  2) (3  3) (3  4) (3  5)
(4  1) (4  2) (4  3) (4  4) (4  5)
(5  1) (5  2) (5  3) (5  4) (5  5)

In [ ]:
for i  in range(5):
    for j in range(5):
        print(f"( Row = {i + 1}, col={j + 1})" , end=" ")
    print()

( Row = 1, col =  1) ( Row = 1, col =  2) ( Row = 1, col =  3) ( Row = 1, col =  4) ( Row = 1, col =  5)
( Row = 2, col =  1) ( Row = 2, col =  2) ( Row = 2, col =  3) ( Row = 2, col =  4) ( Row = 2, col =  5)
( Row = 3, col =  1) ( Row = 3, col =  2) ( Row = 3, col =  3) ( Row = 3, col =  4) ( Row = 3, col =  5)
( Row = 4, col =  1) ( Row = 4, col =  2) ( Row = 4, col =  3) ( Row = 4, col =  4) ( Row = 4, col =  5)
( Row = 5, col =  1) ( Row = 5, col =  2) ( Row = 5, col =  3) ( Row = 5, col =  4) ( Row = 5, col =  5)

In [71]:
n = int(input("Enter a number"))
for i in range (n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n = 5
for i in range (n):
    for j in range(i + 1):
        print("*",end="")
    print()

*
**
***
****
*****

In [80]:
n = 5
for i in range (n):
    for j in range(n):
        print(f"{i+1}",end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [83]:
n = 5
for i in range (n):
    for j in range(n):
        print(f"{j+1}",end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [85]:
n = 5
for i in range (n):
    for j in range(n):
        print(i+j +1 ,end=" ")
    print()

1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8
5 6 7 8 9

In [86]:
for i in range(n):
    for j in range(i + 1):
        print(i + 1, end = " ") 
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [87]:
for i in range(n):
    for j in range(i + 1):
        print(j + 1, end = " ") 
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [89]:
for i in range(n):
    for j in range(i + 1):
        print(i + j + 1, end = " ") 
    print()

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

In [90]:
n = 5 
for i in range(n):
    for sp in range(n - i - 1):
        print(" ", end = "") 
    for st in range(i + 1):
        print("*",end = "" ) 
    print()

    *
   **
  ***
 ****
*****

In [91]:
n = 5 
for i in range(n):
    for sp in range(n - i - 1):
        print(" ", end = "") 
    for st in range(i + 1):
        print("*",end = " " ) 
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [166]:
n = 4 
for i in range(n):
    for j in range(i ):
        print(" ",end="")
    for  k in range ():
        print("*",end=" ")
    print()

TypeError: range expected at least 1 argument, got 0

In [ ]:
# to find prime factors code after functions sir batayenge

In [145]:
n  = 5
for i in range(n):
    for j in range(i +1):
        print(n - j  ,end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1