### Operators

#### Identity Operator

In [6]:
a = 10 
b = 20 

print(f"{a} == {b} : {a == b}")
print(f"{a} IS {b} : {a is b}")
print(f"Memory Location of {a} : {id(a)}\nMemory Location of {b} : {id(b)}")

10 == 20 : False
10 IS 20 : False
Memory Location of 10 : 2575231380048
Memory Location of 20 : 2575231380368

In [7]:
a = 10 
b = 10 

print(f"{a} == {b} : {a == b}")
print(f"{a} IS {b} : {a is b}")
print(f"Memory Location of {a} : {id(a)}\nMemory Location of {b} : {id(b)}")

10 == 10 : True
10 IS 10 : True
Memory Location of 10 : 2575231380048
Memory Location of 10 : 2575231380048

In [24]:
a = 1000 
b = 1000 

print(f"{a} == {b} : {a == b}")
print(f"{a} IS {b} : {a is b}")
print(f"Memory Location of {a} : {id(a)}\nMemory Location of {b} : {id(b)}")

1000 == 1000 : True
1000 IS 1000 : False
Memory Location of 1000 : 2575315309040
Memory Location of 1000 : 2575315310064

#### Membership Operator

In [14]:
li = [8, 2, 4, 1, 5]

print(f"List : {li}") 
print(f"1 in {li} : {1 in li}")
print(f"10 in {li} : {10 in li}")
print(f"100 not in {li} : {100 not in li}")
print(f"8 not in {li} : {8 not in li}")

List : [8, 2, 4, 1, 5]
1 in [8, 2, 4, 1, 5] : True
10 in [8, 2, 4, 1, 5] : False
100 not in [8, 2, 4, 1, 5] : True
8 not in [8, 2, 4, 1, 5] : False

#### Unary Operator

In [15]:
a = 10 

print(+a) 
print(-a)

10
-10

In [16]:
print(~a)

-11

In [17]:
print(not a)

False

In [20]:
a = 0 

print(a, bool(a), not a)

0 False True

In [4]:
import numpy as np 
import pandas as pd

In [6]:
df = pd.read_csv("C:\\Users\\vishn\\python regular\\country.csv")

In [7]:
df.head()

   Country         Capital      Currency  Development_Status
0    India       New Delhi          INR           Developing
1      USA  Washington D.C           USD           Developed
2    China         Beijing         Yuan            Developed
3  Germany          Berlin          EUR            Developed
4    Japan           tokyo  Japanese Yen           Developed

In [8]:
newdf = pd.read_csv(r"C:\Users\vishn\python regular\country.csv")

In [9]:
newdf.head( )

   Country         Capital      Currency  Development_Status
0    India       New Delhi          INR           Developing
1      USA  Washington D.C           USD           Developed
2    China         Beijing         Yuan            Developed
3  Germany          Berlin          EUR            Developed
4    Japan           tokyo  Japanese Yen           Developed

In [10]:
newdf.tail()

   Country         Capital        Currency  Development_Status
1      USA  Washington D.C             USD           Developed
2    China         Beijing           Yuan            Developed
3  Germany          Berlin            EUR            Developed
4    Japan           tokyo    Japanese Yen           Developed
5   Russia         moscow    russian ruble          developed