### TUple

In [3]:
# initialization 
t1 = ()
t2 = tuple()
t3 = (1,2,3) 
t4 = tuple([1,2,3]) 

print(f"Tuple 1 : {t1}\nData Type : {type(t1)}\nMemory Location : {id(t1)}\n")
print(f"Tuple 1 : {t2}\nData Type : {type(t2)}\nMemory Location : {id(t2)}\n")
print(f"Tuple 1 : {t3}\nData Type : {type(t3)}\nMemory Location : {id(t3)}\n")
print(f"Tuple 1 : {t4}\nData Type : {type(t4)}\nMemory Location : {id(t4)}\n")

Tuple 1 : ()
Data Type : <class 'tuple'>
Memory Location : 140705438918080

Tuple 1 : ()
Data Type : <class 'tuple'>
Memory Location : 140705438918080

Tuple 1 : (1, 2, 3)
Data Type : <class 'tuple'>
Memory Location : 2373267076864

Tuple 1 : (1, 2, 3)
Data Type : <class 'tuple'>
Memory Location : 2373267016128

In [5]:
t5 = (5)
print(t5 ,type(t5))

5 <class 'int'>

In [6]:

t6 = (5, )  
print(t6, type(t6))

(5,) <class 'tuple'>

In [7]:
a,b = 100,200
print(a,b )

100 200

In [12]:
c = 10,20
print(c,type(c)) 
d = 10,20,30
print(d,type(d))

(10, 20) <class 'tuple'>
(10, 20, 30) <class 'tuple'>