## Map (function,iterable)
### Apply a particular function on each element of the iterable

In [2]:
import numpy as np
import random

In [8]:
li = [int(x) for x in np.random.randint(1,10,10)] 
print(li)

[9, 3, 5, 4, 1, 2, 1, 5, 6, 1]

In [9]:
squared_list = list(map(lambda x : x ** 2, li)) 
print(f"Original list : {li}\nSquared List : {squared_list}")

Original list : [9, 3, 5, 4, 1, 2, 1, 5, 6, 1]
Squared List : [81, 9, 25, 16, 1, 4, 1, 25, 36, 1]

In [10]:
odd_even_bool = list(map(lambda x : True if  x % 2 == 0 else False, li ))

In [11]:
print(li)
print(odd_even_bool)

[9, 3, 5, 4, 1, 2, 1, 5, 6, 1]
[False, False, False, True, False, True, False, False, True, False]

In [13]:
li = [int(x) for x in np.random.randint(1,10,10)]
odd_even_bool = list(map(lambda x : True if x % 2 == 0 else False,li)) 
even_list = []
odd_list = []
for index, item in enumerate(odd_even_bool):
    if item:
        even_list.append(li[index])
    else:
        odd_list.append(li[index])

print(li)
print(odd_even_bool)
print(even_list)
print(odd_list)

[9, 5, 4, 7, 4, 9, 2, 6, 8, 5]
[False, False, True, False, True, False, True, True, True, False]
[4, 4, 2, 6, 8]
[9, 5, 7, 9, 5]

In [14]:
for item in odd_even_bool:
    print(item)

False
False
True
False
True
False
True
True
True
False

In [15]:
li = [item for item in input().split()]
print(li)

['1', '2', '3', '4', '5']

In [16]:
final_list = list(map(int,input().split()))
print(final_list)

[1, 2, 3, 4, 5]

In [18]:
numeric_list = list(map(int,li))
print(numeric_list)

[1, 2, 3, 4, 5]

## Filter(function, iterable)
#### filteres the data based on a particular condition

In [20]:
li = [int(x) for x in range(1,11,1)]
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
odd_list = list(filter(lambda x : x % 2 != 0,li))
print(odd_list)

[1, 3, 5, 7, 9]

In [23]:
first_name = ["zahoor","sunny"]
last_name = ["mistry", "kazi"]

full_name = list(map(lambda x , y : x + " " +y,first_name,last_name))
print(full_name)

['zahoor mistry', 'sunny kazi']

In [24]:
li = ["python","java","c++","javaScript"] 
new_list = list(filter(lambda x : len(x) >= 5,li))
print(f"Original List : {li}")
print(f"Updated List : {new_list}")

Original List : ['python', 'java', 'c++', 'javaScript']
Updated List : ['python', 'javaScript']

## reduce(function, iteration)
#### Returns a single value

In [9]:
from functools import reduce

In [10]:
li = [int(x) for x in range(1,6,1)]
print(li)

[1, 2, 3, 4, 5]

In [11]:
ans = 0 
for item in li:
    ans += item 

print(f"The sum of all element in {li} is {ans}")

The sum of all element in [1, 2, 3, 4, 5] is 15

In [12]:
solution = reduce(lambda x , y : x + y, li,0) 
print(solution)

15

In [13]:
print(f"Sum of all the element in the list ")

solution = reduce(lambda x , y : x+y , list(map(int, input().split())),0)
print(f"The sum is {solution}")

Sum of all the element in the list
The sum is 21

In [15]:
solution = reduce(lambda x , y : x * y,list(map(int,input().split())),1) 
print(solution)

24

In [20]:
#Fibonacci 
li = [(0, 0), (1, 1)] 

n = int(input()) 
for item in range(n-1):
    print(f"Original List : {li}\nNew Element Calculated : {li[item][1]} + {li[item + 1][1]} = {li[item][1] + li[item + 1][1]}\nFinal Element : {(item + 2, li[item][1] + li[item + 1][1])}\n")
    li.append((item + 2, li[item][1] + li[item + 1][1])) 

print(li)

Original List : [(0, 0), (1, 1)]
New Element Calculated : 0 + 1 = 1
Final Element : (2, 1)

Original List : [(0, 0), (1, 1), (2, 1)]
New Element Calculated : 1 + 1 = 2
Final Element : (3, 2)

Original List : [(0, 0), (1, 1), (2, 1), (3, 2)]
New Element Calculated : 1 + 2 = 3
Final Element : (4, 3)

Original List : [(0, 0), (1, 1), (2, 1), (3, 2), (4, 3)]
New Element Calculated : 2 + 3 = 5
Final Element : (5, 5)

[(0, 0), (1, 1), (2, 1), (3, 2), (4, 3), (5, 5)]

In [18]:
naruto = ["Orewa", "Namikaze", "Minato", "Shano", "Sharingan", "Ameterasu", "Mangekyou", "Sharingan", "Byakugan"] 

reduce(lambda x, y : x + " " + y, naruto)

'Orewa Namikaze Minato Shano Sharingan Ameterasu Mangekyou Sharingan Byakugan'

In [ ]:
# lambda function make it easy ks
def add(a, b):
    return a + b 
add1 = lambda a, b : a + b 

a = int(input())
b = int(input())

print(f"a = {a} & b = {b} so sum of  a + b = {add1(a,b)}") 
print(f"a = {a} & b = {b} so sum of  a + b = {add(a,b)}")