# Dictionary

## Initialization

In [10]:
d1 = {} 
d2 = dict() 
d3 = {1 : 2, 3 : 4}
d4 = dict({5 : 6, 7 : 8})
# d5 = dict('a' = 10, 'b' = 20)
d5 = dict([(10, 20), (30, 40), (50, 60)])

print(f"Dictionary 1 : {d1}\nMemory Location : {id(d1)}\nData Type : {type(d1)}\n")
print(f"Dictionary 2 : {d2}\nMemory Location : {id(d2)}\nData Type : {type(d2)}\n")
print(f"Dictionary 3 : {d3}\nMemory Location : {id(d3)}\nData Type : {type(d3)}\n")
print(f"Dictionary 4 : {d4}\nMemory Location : {id(d4)}\nData Type : {type(d4)}\n")
print(f"Dictionary 5 : {d5}\nMemory Location : {id(d5)}\nData Type : {type(d5)}\n")

Dictionary 1 : {}
Memory Location : 2307185413760
Data Type : <class 'dict'>

Dictionary 2 : {}
Memory Location : 2307185413248
Data Type : <class 'dict'>

Dictionary 3 : {1: 2, 3: 4}
Memory Location : 2307179116800
Data Type : <class 'dict'>

Dictionary 4 : {5: 6, 7: 8}
Memory Location : 2307185412736
Data Type : <class 'dict'>

Dictionary 5 : {10: 20, 30: 40, 50: 60}
Memory Location : 2307185410560
Data Type : <class 'dict'>

In [43]:
king = {
    "Name" : "Virat Kohli", 
    "Jersey No" : 18, 
    "Best Score" : 254, 
    "Best Performance" : ['Mohali', 'Melbourne'], 
    "Man Of The Series" : 32, 
    "No Of Centuries" : 85
}

In [12]:
print(king, type(king))

{'Name': 'Virat Kohli', 'Jersey No': 18, 'Best Score': 254, 'Best Performance': ['Mohali', 'Melbourne'], 'Man Of The Series': 32, 'No Of Centuries': 85} <class 'dict'>

In [13]:
king

{'Name': 'Virat Kohli',
 'Jersey No': 18,
 'Best Score': 254,
 'Best Performance': ['Mohali', 'Melbourne'],
 'Man Of The Series': 32,
 'No Of Centuries': 85}

In [17]:
# Accessing 

king['Name']
king['No Of Centuries']

85

In [ ]:
# king['Wife']

KeyError: 'Wife'

In [25]:
# Get method 

king.get("Man Of The Match", "Key Not Found")

'Key Not Found'

In [30]:
# Updation 

king['No Of Centuries'] = 100

In [31]:
king

{'Name': 'Virat Kohli',
 'Jersey No': 18,
 'Best Score': 254,
 'Best Performance': ['Mohali', 'Melbourne'],
 'Man Of The Series': 32,
 'No Of Centuries': 100}

In [32]:
# Insertion

In [33]:
king['Wife'] = "Anuskha Sharma"

In [36]:
king['Nick Name'] = 'Chiku'

In [37]:
king

{'Name': 'Virat Kohli',
 'Jersey No': 18,
 'Best Score': 254,
 'Best Performance': ['Mohali', 'Melbourne'],
 'Man Of The Series': 32,
 'No Of Centuries': 100,
 'Wife': 'Anuskha Sharma',
 'Nick Name': 'Chiku'}

In [38]:
# Deletion 

king.pop("Nick Name")

'Chiku'

In [39]:
king

{'Name': 'Virat Kohli',
 'Jersey No': 18,
 'Best Score': 254,
 'Best Performance': ['Mohali', 'Melbourne'],
 'Man Of The Series': 32,
 'No Of Centuries': 100,
 'Wife': 'Anuskha Sharma'}

In [40]:
king.popitem()

('Wife', 'Anuskha Sharma')

In [41]:
king

{'Name': 'Virat Kohli',
 'Jersey No': 18,
 'Best Score': 254,
 'Best Performance': ['Mohali', 'Melbourne'],
 'Man Of The Series': 32,
 'No Of Centuries': 100}

In [42]:
king.popitem()

('No Of Centuries', 100)

In [44]:
king

{'Name': 'Virat Kohli',
 'Jersey No': 18,
 'Best Score': 254,
 'Best Performance': ['Mohali', 'Melbourne'],
 'Man Of The Series': 32,
 'No Of Centuries': 85}

In [45]:
# keys 

king.keys()

dict_keys(['Name', 'Jersey No', 'Best Score', 'Best Performance', 'Man Of The Series', 'No Of Centuries'])

In [46]:
for all_keys in king.keys():
    print(all_keys)

Name
Jersey No
Best Score
Best Performance
Man Of The Series
No Of Centuries

In [47]:
king.values()

dict_values(['Virat Kohli', 18, 254, ['Mohali', 'Melbourne'], 32, 85])

In [48]:
for value in king.values():
    print(value)

Virat Kohli
18
254
['Mohali', 'Melbourne']
32
85

In [49]:
king.items()

dict_items([('Name', 'Virat Kohli'), ('Jersey No', 18), ('Best Score', 254), ('Best Performance', ['Mohali', 'Melbourne']), ('Man Of The Series', 32), ('No Of Centuries', 85)])

In [50]:
a = (1, 2) 

print(a, type(a))

(1, 2) <class 'tuple'>

In [51]:
x, y = a

In [52]:
print(a,x, y)

(1, 2) 1 2

In [53]:
king.items()

dict_items([('Name', 'Virat Kohli'), ('Jersey No', 18), ('Best Score', 254), ('Best Performance', ['Mohali', 'Melbourne']), ('Man Of The Series', 32), ('No Of Centuries', 85)])

In [56]:
for item in king.items():
    key, value = item  
    print(f"Key = {key}, value = {value}")

Key = Name, value = Virat Kohli
Key = Jersey No, value = 18
Key = Best Score, value = 254
Key = Best Performance, value = ['Mohali', 'Melbourne']
Key = Man Of The Series, value = 32
Key = No Of Centuries, value = 85

In [ ]:
for key, value in king.items(): 
    print(f"Key = {key}, Value = {value}")

Key = Name, Value = Virat Kohli
Key = Jersey No, Value = 18
Key = Best Score, Value = 254
Key = Best Performance, Value = ['Mohali', 'Melbourne']
Key = Man Of The Series, Value = 32
Key = No Of Centuries, Value = 85

In [58]:
squares_dict = {i : i ** 2 for i in range(1, 11, 1)}

In [59]:
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [60]:
even_squares = {i : i ** 2 for i in range(1, 11, 1) if i % 2 == 0}
print(even_squares)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [64]:
squares_structrue = [(i, i**2) for i in range(1,11,1) if i % 2 == 0]

In [65]:
squares_structrue

[(2, 4), (4, 16), (6, 36), (8, 64), (10, 100)]

In [61]:
a, b = 10, 20 

print(a, b)

10 20

In [62]:
c = 10, 20 
print(c, type(c))

(10, 20) <class 'tuple'>

In [66]:
# Membership 

d = {
    'a' : 1, 
    'b' : 2
}

In [73]:
# By Default -->  Searching in Key 

'a' in d

True

In [74]:
1 in d

False

In [75]:
'a' in d.keys()

True

In [76]:
'a' in d.values( )

False

In [77]:
1 in d

False

In [78]:
1 in d.values()

True

In [79]:
1  in d.keys()

False

In [86]:
d = {
    'd1' : {'a' : 1, 'b' : 2}, 
    'd2' : {'c' : 3, 'd' : 4}
}

In [87]:
d

{'d1': {'a': 1, 'b': 2}, 'd2': {'c': 3, 'd': 4}}

In [94]:
d.get('d2', "Item Not Found").get("df", "Item Not Found")

'Item Not Found'

In [95]:
keys = ['a', 'b', 'c']

dictionary = dict.fromkeys(keys, 0) 

print(dictionary)

{'a': 0, 'b': 0, 'c': 0}

In [97]:
dictionary['a'] = "alksjfl;asjdf"

In [98]:
dictionary

{'a': 'alksjfl;asjdf', 'b': 0, 'c': 0}

In [99]:
dictionary.keys()

dict_keys(['a', 'b', 'c'])

In [105]:
d1 = {
    'a' : 1, 
    'b' : 2
}

d2 = {
    'c' : 3, 
    'd' : 4
}

In [106]:
d1.update(d2)

In [107]:
d2

{'c': 3, 'd': 4}

In [108]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [109]:
d1 = {
    'a' : 1, 
    'b' : 2
}

d2 = {
    'b' : 3, 
    'c' : 4
}

In [110]:
d1.update(d2)

In [111]:
d2

{'b': 3, 'c': 4}

In [112]:
d1

{'a': 1, 'b': 3, 'c': 4}