## ðŸ§  Mental rule : yaad rakhna 

#### Pattern width should always depend on n and i, not on hardcoded constants.

#### Basic level question for pattern

In [ ]:
#Qs 1 : print a 5 x 5 square of *
n = 5 
for i in  range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [4]:
# Qs 2 : print a right angled triangle 
n = 5 
for i in range(n):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [29]:
# Qs 3 : print triangle using numbers 
n = 5 
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()
print()
n = 5 
for i in range(n):
    for j in range(i+1):
        print(i+1,end=" ")
    print()
print()
n = 5 
for i in range(n):
    for j in range(i+1):
        print(i+j+1,end=" ")
    print()
print()
n = 5 
for i in range(n):
    for j in range(i+1):
        print(1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [34]:
# Qs 4 : print numbers 1 to 5 in each row 
n = 5 
for i in range(n):
    for j in range(n):
        print(j+1,end=" ")
    print()
print()
n = 5 
for i in range(n):
    for j in range(n):
        print(i+1,end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [45]:
# Qs 5 : print same character pattern using while loop 
n = 1
while n <= 5 :
    print(n,end=" ")
    n +=1
m = 1
print()
while m <= 5:
    print(m , end=" ")
    m +=1 
print()
n = 1
while n <= 5 :
    print(n,end=" ")
    n +=1
m = 1
print()
while m <= 5:
    print(m , end=" ")
    m +=1 
print()
while m <= 5:
    print(m , end=" ")
    m +=1 
print()
i = 1
while i <= 5:
    j = 1
    while j <= 5:
        print("*",end=" ")
        j += 1
    print()
    i += 1 

print()

i = 1 
while i <= 7:
    j = 1
    while j <= 7:
        print({i,j},end=" ")
        j += 1
    print()
    i += 1
    # if i == 3 or j == 6 :
    #     print("-",end=" ")
    # else :
    #     print(" ",end=" ") 
print()
i = 1 
while i <= 5 :
    j = 1
    while j < i+1:
        print("*",end=" ") 
        j += 1
    print()
    i +=1 
print()
i = 1 
while i <= 5:
    j = 1
    while j <= 5 - i + 1 :
        print("*",end=" ")
        j += 1
    print()
    i += 1

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

{1} {1, 2} {1, 3} {1, 4} {1, 5} {1, 6} {1, 7}
{1, 2} {2} {2, 3} {2, 4} {2, 5} {2, 6} {2, 7}
{1, 3} {2, 3} {3} {3, 4} {3, 5} {3, 6} {3, 7}
{1, 4} {2, 4} {3, 4} {4} {4, 5} {4, 6} {4, 7}
{1, 5} {2, 5} {3, 5} {4, 5} {5} {5, 6} {5, 7}
{1, 6} {2, 6} {3, 6} {4, 6} {5, 6} {6} {6, 7}
{1, 7} {2, 7} {3, 7} {4, 7} {5, 7} {6, 7} {7}

*
* *
* * *
* * * *
* * * * *

* * * * *
* * * *
* * *
* *
*

In [37]:
i = 1 
while i <= 5 :
    j = 1
    while j <= 5:
        print(j,end=" ") 
        j += 1
    print()
    i +=1 
print()
i = 1 
while i <= 5 :
    j = 1
    while j <= 5:
        print(i,end=" ") 
        j += 1
    print()
    i +=1 
print()
i = 0 
while i <= 5 :
    j = 1
    while j <= 5:
        print(5*i+j,end=" ") 
        j += 1
    print()
    i +=1 
print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25
26 27 28 29 30

In [49]:
# Qs 6 : print 
n = 5
for i in range(n):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [53]:
# Qs 7 : print inverted right angled triangle 
n = 5 
for i in range(n):
    for j in range(n- i):
        print("*",end="")
    print()

*****
****
***
**
*

In [65]:
# Qs 8 : print row number repeated 

for i in range(1,6):
    for j in range(5):
        print(i,end=" ")
    print()

print()
i = 1 
while i <= 5 :
    j = 1
    while j <= 5:
        print(i,end=" ")
        j+= 1
    print()
    i+=1

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [66]:
# Qs 9 : print column number repeated 
n = 5
for i in range(n):
    for j in range(n):
        print(j+1,end=" ")
    print()
print()
i = 1 
while i <= 5 :
    j = 1
    while j <= 5:
        print(j,end=" ")
        j+= 1
    print()
    i+=1

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [67]:
# Qs 10 : print square using row index only 
n = 5
for i in range(n):
    for j in range(n):
        print(i+1,end=" ")
    print()
print()

i = 1 
while i <= 5 :
    j = 1
    while j <= 5:
        print(f"{i,j}",end=" ")
        j+= 1
    print()
    i+=1

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

(1, 1) (1, 2) (1, 3) (1, 4) (1, 5)
(2, 1) (2, 2) (2, 3) (2, 4) (2, 5)
(3, 1) (3, 2) (3, 3) (3, 4) (3, 5)
(4, 1) (4, 2) (4, 3) (4, 4) (4, 5)
(5, 1) (5, 2) (5, 3) (5, 4) (5, 5)

#### EASY-MEDIUM questions

In [70]:
# Qs 11 : Hollow square 
n = int(input())
for i in range(n):
    for j in range(n):
        if i == 0 or j == 0 or i == n-1 or j == n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [80]:
# Qs 12 : Hollow right angled triangle 
n = int(input())
for i in range(n):
    for j in range(i+1):
        if j == 0 or i == j or i == n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*
* *
*   *
*     *
* * * * *

In [90]:
# Qs 13 : left aligned triangle 
n = 5 
for i in range(n):
    for sp in range(n-i-1):
        print(" ",end=" ")
    for st in range(i+1):
        print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [98]:
# Qs 14 : print pattern using alphabets 
n = 5 
for i in range(n):
    for j in range(i+1):
        print(chr(ord("A") +j),end=" ")
    print()
print()
n = 5 
for i in range(n):
    for j in range(i+1):
        print(chr(ord("A") +i),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

A
B B
C C C
D D D D
E E E E E

In [142]:
# Qs 15 : Continuous numbers 
n = 1
for i in range(4):
    for j in range(i+1):
        print(n,end=" ")
        n += 1
    print() 

print()
n = 1 
[print(*(range(n,n := n + i)))for i in range(1,5)]
print()
n = 1 
[print(*(range(n,n := n+i+j))) for i in range(1,6)]

1
2 3
4 5 6
7 8 9 10

1
2 3
4 5 6
7 8 9 10

1 2 3 4
5 6 7 8 9
10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29 30

[None, None, None, None, None]

In [154]:
# Qs 16 : pyramid of *
n = 5 
for i in range(n):
    for sp in range(n-i-1):
        print(" ",end=" ")
    for st in range(2*i+1):
        print("*",end=" ") 
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [164]:
# Qs 17 : inverted pyramid 
n = 5 
for i in range(n):
    for sp in range(i):
        print(" ",end=" ")
    for st in range(2*(n-i)-1):
        print("*",end=" ")
    # for st in range(n-i-1):
    #     print("*",end=" ")
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [170]:
# Qs 18 : Triangle using even numbers 
n = 2 #Start with first even number 
for i in range(4):
    for j in range(i+1):# here i+1 for triangle pattern 
        print(n,end=" ")
        n += 2 #Update +2 so next number will be even 
    print() #For next line

2
4 6
8 10 12
14 16 18 20

In [172]:
# Qs 19 : Triangle using odd numbers
n = 1 
n_rows = 4 
for i in range(n_rows):
    for j in range(i+1):
        print(n,end=" ")
        n += 2 
    print()

1
3 5
7 9 11
13 15 17 19

In [204]:
# Qs 20 : Centered number pyramid 
n = 5 
for i in range(n):
    for sp in range(n-i-1):
        print(" ",end=' ')
    for st in range(i+1):
        print(st+1,end=" ")
    for st1 in range(i,0,-1):
        print(st1,end=" ") 
    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [183]:
n = 5

for i in range(n):
    # spaces
    for sp in range(n - i - 1):
        print(" ", end=" ")

    # increasing numbers
    for num in range(1, i + 2):
        print(num, end=" ")

    # decreasing numbers
    for num in range(i, 0, -1):
        print(num, end=" ")

    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [219]:
# Qs 21 : hollow pyramid 
n = int(input("Enter a number to create a hollow pyramid :")) #Take input from user 
for i in range(n): # outer loop for rows 
    for sp in range(n-i-1): # to create spaces 
        print(" ",end=" ")
    for st in range(2*i+1): # for stars 
        # print(f"{i,st}",end=" ") # to check co-ordinates and set logic 
        if st == 0 or i == n-1 or st == 2*i : #This is for right,left and bottom line 
            print("*",end=" ") # print star else space 
        else:
            print(" ",end=" ")
    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

In [244]:
# Qs 22 : Diamond pattern 
n = int(input("Enter a nummber to craete a diamond pattern : "))
for i in range(n):
    for sp in range(n-i-1): #Upper left space logic 
        print(" ",end=" ")
    for st in range(2*i+1): #upper half triangle pattern logic  
        print("*",end=" ")
    print()
for j in range(n-1): # do n-1 becuz we need one less row on lower trianlge so it will be perfect diamond pattern 
    for sp in range(j+1): # lower left space logic 
        print(" ",end=" ")
    for st in range(((n-j-1)*2)-1): # Lower inverted trianlge logic 
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [248]:
# Qs 23 : Floyd's triangle
n = 1 
for i in range(5):
    for j in range(i+1):
        print(n,end=" ")
        n += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [252]:
# Qs 23 : Reverse Floyd's triangle
n = 15
for i in range(5):
    for j in range(i+1):
        print(n,end=" ")
        n -= 1
    print() 

print()
rows = 5
num = rows * (rows + 1) // 2

for i in range(1, rows + 1):
    temp = num
    for j in range(i):
        print(temp, end=" ")
        temp -= 1
    print()
    num -= i

15
14 13
12 11 10
9 8 7 6
5 4 3 2 1

15
14 13
12 11 10
9 8 7 6
5 4 3 2 1

In [294]:
# Qs 25 : binary pattern 
for i in range(1,10):
    if i % 2 == 0:
        print(1,end=" ")
    else :
        print(0,end=" ")
    
print()
print()

for i in range(5):
    for j in range(i+1):
        print((i+j+1) % 2,end=" ")
    print()
print()
for i in range(5):
    for j in range(i+1):
        print((i+j) % 2,end=" ")
    print()
print()
print("This two are not binary solutions : \n") 
for i in range(5):
    for j in range(i+1):
        print((i+1) % 2,end=" ")
    print()
print()
for i in range(5):
    for j in range(i+1):
        print((j+1) % 2,end=" ")
    print()

0 1 0 1 0 1 0 1 0

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

0
1 0
0 1 0
1 0 1 0
0 1 0 1 0

This two are not binary solutions :

1
0 0
1 1 1
0 0 0 0
1 1 1 1 1

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [324]:
# Qs 26 : Number palindrome triangle 
n = 5 
for i in range(n):
    for sp in range(n-i-1):
        print(" ",end=" ")
    for st in range(i+1):
        print(st+1,end=" ")
    for st1 in range(i,0,-1):
        print(st1,end=" ")
    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [333]:
# Qs 27: Centered pyramid using numbers 
n = 5
for i in range(n):
    print("  " * (n-i-1),end="")
    for st in range(2*i+1):
        print(i+1,end=" ")
    print()

        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [341]:
# Qs 28 : print X pattern using * 
n = 5 
for i in range(n):
    for j in range(n):
        # print(f"{i,j}",end=" ")
        if i == j or i + j == 4 : # logic for diagonal 
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*       *
  *   *
    *
  *   *
*       *

In [342]:
# Qs 29 : print cross pattern 
n = 5 
for i in range(n):
    for j in range(n):
        # print(f"{i,j}",end=" ")
        if i == n//2 or j == n//2: # logic for cross 
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

    *
    *
* * * * *
    *
    *

In [378]:
# Qs 30 : butterfly pattern 
n = 5
for i in range(n):
    for st1 in range(i+1):
        print("*",end=" ")
    for sp1 in range(2*(n-i-1)):
        print(" ",end=" ")
    for st1 in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):
    for st1 in range(n-i-1):
        print("*",end=" ")
    for sp1 in range(2*(i+1)):
    #     print("-",end=" ")
    # for sp2 in range(2*i+1):
        print(" ",end=" ")
    for st in range(n-i-1):
        print("*",end=" ")
    print()

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [380]:
# Qs 31 : hollow diamond
n = 5
for i in range(n):
    for sp in range(n-i-1): #Upper left space logic 
        print(" ",end=" ")
    for st in range(2*i+1): #upper half triangle pattern logic  
        print(f"{i,st}",end=" ")
    print()
for j in range(n-1): # do n-1 becuz we need one less row on lower trianlge so it will be perfect diamond pattern 
    for sp in range(j+1): # lower left space logic 
        print(" ",end=" ")
    for st in range(((n-j-1)*2)-1): # Lower inverted trianlge logic 
        print(f"{i,st}",end=" ")
    print()

        (0, 0)
      (1, 0) (1, 1) (1, 2)
    (2, 0) (2, 1) (2, 2) (2, 3) (2, 4)
  (3, 0) (3, 1) (3, 2) (3, 3) (3, 4) (3, 5) (3, 6)
(4, 0) (4, 1) (4, 2) (4, 3) (4, 4) (4, 5) (4, 6) (4, 7) (4, 8)
  (4, 0) (4, 1) (4, 2) (4, 3) (4, 4) (4, 5) (4, 6)
    (4, 0) (4, 1) (4, 2) (4, 3) (4, 4)
      (4, 0) (4, 1) (4, 2)
        (4, 0)

In [396]:
n = 5

for i in range(n):
    for sp in range(n-i-1): 
        print(" ",end=" ")
    for st in range(2*i+1):
        if st == 0 or st == 2*i: #upper right or left side logic  
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
for j in range(n-1): 
    for sp in range(j+1): 
        print(" ",end=" ")
    for st in range(((n-j-1)*2)-1):
        if st == 0 or st == (((n-j-1)*2)-1)-1 : # lower right or left side logic 
            print(f"*",end=" ")
        else :
            print(" ",end=" ") #else space
    print()

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

In [421]:
# Qs 32 : hourgalss pattern 
n = 5 
for i in range(n):
    for sp in range(i+1-1):
        print("-",end=" ")
    for st in range(2*(n-i)-1):
        print("*",end=" ")
    
    print()
p = n
for i in range(p):
    for sp in range(p-i-1):
        print("-",end=" ")
    for st in range((2*i)+1):
        print("*",end=" ")
    print()

* * * * * * * * *
- * * * * * * *
- - * * * * *
- - - * * *
- - - - *
- - - - *
- - - * * *
- - * * * * *
- * * * * * * *
* * * * * * * * *

In [428]:
# Qs 32 : hourgalss pattern 
n = 5
for i in range(n):
    for sp in range(i+1-1):
        print("-",end=" ")
    for st in range(2*(n-i)-1):
        print("*",end=" ")
    
    print()
p = n -1 
for i in range(p):
    for sp in range(p-i-1):
        print("-",end=" ")
    for st in range((2*i)+3):
        print("*",end=" ")
    print()

* * * * * * * * *
- * * * * * * *
- - * * * * *
- - - * * *
- - - - *
- - - * * *
- - * * * * *
- * * * * * * *
* * * * * * * * *

In [433]:
# Qs 32 : hourgalss pattern 
n = 5
for i in range(n):
    for sp in range(i+1-1):
        print(" ",end=" ")
    for st in range(2*(n-i)-1):
        print("*",end=" ")
    
    print()
p = n -1 
for i in range(p):
    for sp in range(p-i-1):
        print(" ",end=" ")
    for st in range(2*(i+1)+1): # this is perfect logic 
        print("*",end=" ")
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [449]:
# Qs 33 : pascal's triangle 
n = 9
for i in range(n):
    for sp in range(n-i):
        print("",end="  ")
    for j in range(i+1):
        print(i+1,end="   ")
    print()

                  1
                2   2
              3   3   3
            4   4   4   4
          5   5   5   5   5
        6   6   6   6   6   6
      7   7   7   7   7   7   7
    8   8   8   8   8   8   8   8
  9   9   9   9   9   9   9   9   9

In [450]:
# Qs 33 : pascal's triangle 
n = 9
for i in range(n):
    for sp in range(n-i):
        print("",end="  ")
    for j in range(i+1):
        if i == 0 or j == n-1:
            print(i+1,end="   ")
    print()

                  1







  9

In [ ]:
n = 4
for i in range(n):
    for j in range(n):
        if i == 0 or j == 0 :
            print(chr(65 +i+j),end=" ")
        # elif i == n-1 or j == n-1:
        #     print(chr(65-i-j),end=" ")
        elif i == n-1 or j == n-1:
            print(chr(71-i-j),end=" ")
        else:
            print(" ",end=" ")
    print()

A B C D
B     C
C     B
D C B A

In [107]:
n = int(input("Enter a number"))
for i in range(n):
    for j in range(n):
        if i == 0 or j == 0 :
            print(chr(ord("a") +i+j),end=" ")
        elif i == n-1:
            print(chr(ord("a") + n-j -1),end=" ")
        elif  j ==  n-1:
            print(chr(ord("a")+ n- i -1),end=" ")
        else:
            print(" ",end=" ")
    print()

a b c d e f g h i j k l m n o p q r s t u v w x y z
b                                                 y
c                                                 x
d                                                 w
e                                                 v
f                                                 u
g                                                 t
h                                                 s
i                                                 r
j                                                 q
k                                                 p
l                                                 o
m                                                 n
n                                                 m
o                                                 l
p                                                 k
q                                                 j
r                                                 i
s                                                 h
t                                                 g
u                                                 f
v                                                 e
w                                                 d
x                                                 c
y                                                 b
z y x w v u t s r q p o n m l k j i h g f e d c b a

In [12]:
n = 4 
for i in range(n):
    for j in range(n):
        # print(f"{i,j}",end=" ")
        print(n -j,end=" ") 
    print()

4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [19]:
n = 4 
for i in range(n):
    for j in range(n):
        # print(f"{i,j}",end=" ")
        print(n -i,end=" ") 
    print()

4 4 4 4
3 3 3 3
2 2 2 2
1 1 1 1

In [4]:
n = 10
while n >= 1 :
    print(n,end=" ")
    n -=1

10 9 8 7 6 5 4 3 2 1

In [6]:
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [31]:
n = 5
# n = int(input("Enter a number"))
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [108]:
n = 4
for i in range(n):
    for st in range(i+1):
        print("*",end=" ")
    for sp in range(n-i-1):
        print(" ",end=" ") 
    print()
    for stt in range(i +1 ):
        print("*",end=" ")
    print()

*
*
* *
* *
* * *
* * *
* * * *
* * * *

In [86]:
n = 5 
for i in range(n):
    for sp in range(n-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    for st in range(i):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [123]:
n = int(input("Enter a number"))
for i in range(n):
    for st in range(i+1):
        print("*",end=" ")
    for sp in range(n-i-1):
        print(" ",end=" ") 
    print()

p = n -1
for i in range(p):
    for j in range(p-i):
        print("*",end=" ")
    print( )    


    # for stt in range(i+1):
    #     print("*",end=" ")
    # for sp in range(n - i +1):
    #     print(" ",end=" ")
    # print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [294]:
n = 5

for i in range(n):

    # spaces
    for sp in range(n - i - 1):
        print(" ", end=" ")

    # stars
    for j in range(2*i + 1):
        if j == 0 or j == 2*i or i == n-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")

    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

In [279]:
n = 5 
for i in range(n):
    for j in range(n-i-1):
        print(f"{i,j}",end=" ")
    for st in range(i +1  ):
        print(f"{i,j}",end=" ")
    for stt in range(i):
        print(f"{i,j}",end=" ")
    print()

(0, 0) (0, 1) (0, 2) (0, 3) (0, 3)
(1, 0) (1, 1) (1, 2) (1, 2) (1, 2) (1, 2)
(2, 0) (2, 1) (2, 1) (2, 1) (2, 1) (2, 1) (2, 1)
(3, 0) (3, 0) (3, 0) (3, 0) (3, 0) (3, 0) (3, 0) (3, 0)
(4, 0) (4, 0) (4, 0) (4, 0) (4, 0) (4, 0) (4, 0) (4, 0) (4, 0)

In [213]:
n = 5 
for i in range(n):
    for sp in range(n-i-1):
        print(f"{i,sp}",end=" ")
    for j in range(i+1):
        print(f"{i,j}",end=" ")
    for st in range(i):
        print(f"{i,st}",end=" ")
    print()

(0, 0) (0, 1) (0, 2) (0, 3) (0, 0)
(1, 0) (1, 1) (1, 2) (1, 0) (1, 1) (1, 0)
(2, 0) (2, 1) (2, 0) (2, 1) (2, 2) (2, 0) (2, 1)
(3, 0) (3, 0) (3, 1) (3, 2) (3, 3) (3, 0) (3, 1) (3, 2)
(4, 0) (4, 1) (4, 2) (4, 3) (4, 4) (4, 0) (4, 1) (4, 2) (4, 3)

In [276]:
n = 5
for i in range(n):
    for sp in range(n-i-1):
        print(" ",end=" ")
    for st in range(2*i+1):
        print("*",end=" ")
    print()
for k in range(n-1):
    for sp in range(k +1):
        print(" ",end=" ")
    for st in range(2*(n-k-1)-1):
        print("*",end=" ")

    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [318]:
n = 5
for i in range(n):
    for sp in range(n-i-1):
        print(f"{i,j} ",end=" ")
    for st in range(2*i+1):
        print(f"{i,j}",end=" ")
    print()
for k in range(n-1):
    for sp in range(k +1):
        print(f"{k,j}",end=" ")
    for st in range(2*(n-k-1)-1):
        print(f"{k,j}",end=" ")
    print()

(0, 0)  (0, 0)  (0, 0)  (0, 0)  (0, 0)
(1, 0)  (1, 0)  (1, 0)  (1, 0) (1, 0) (1, 0)
(2, 0)  (2, 0)  (2, 0) (2, 0) (2, 0) (2, 0) (2, 0)
(3, 0)  (3, 0) (3, 0) (3, 0) (3, 0) (3, 0) (3, 0) (3, 0)
(4, 0) (4, 0) (4, 0) (4, 0) (4, 0) (4, 0) (4, 0) (4, 0) (4, 0)
(0, 0) (0, 0) (0, 0) (0, 0) (0, 0) (0, 0) (0, 0) (0, 0)
(1, 0) (1, 0) (1, 0) (1, 0) (1, 0) (1, 0) (1, 0)
(2, 0) (2, 0) (2, 0) (2, 0) (2, 0) (2, 0)
(3, 0) (3, 0) (3, 0) (3, 0) (3, 0)

In [3]:
n = int(input("Enter a number"))
for i in range(n):
    for sp in range (n-i-1):
        print(" ",end=" ")

    for j in range(2*i+1):
        if j == 0 or j == 2*i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
for k in range (n-1):
    for sp in range(k+1):
        print(" ",end=" ")
    for j in range(2*(n-k-1)-1):
        if j == 0 or j == (2*(n-k-1)-1) -1:
            print("*",end=" ") 
        else:
            print(" ",end=" ")
    print()

      *
    *   *
  *       *
*           *
  *       *
    *   *
      *

In [359]:
n = 5
for i in range(n):
    for j in range(2*n):
        if i == j and j <= n:
            print("*",end=" ")
        elif j == n-i-1 and i <= n:
            print("*",end=" ")
        else:
            print(" ",end=" ")
        # print(f"{i,j}",end=" ")
    print()

*       *
  *   *
    *
  *   *
*       *

In [466]:
n=5 
for i in range(n):
    for j in range(2*n):
        if i == j or i+j == 2*n - 2:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    
    for  i in range(n-2):
        if i == 1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    
    for j in range(n):
            if  i == j :
                print(f"{i,j}",end=" ")
            else:
                print(f"{i,j}",end=" ")
    n = 5

# for i in range(n):
    for j in range(4):
        # if "'j == 0'" j == 2*n - 1 "'or i == n//2'":
        if j == n - 2 or j==0 or :
            print(f"*{i,j}", end=" ")
        else:
            print(f"{i,j} ", end=" ")
    print()

    # for i in range(n-1):
    #         if i ==0 or i == 3 or i :
    #             print("*", end=" ")
    #         else:
    #             print(" ",end=" ")
    print()

*               *     *   (2, 0) (2, 1) (2, 2) (2, 3) (2, 4) *(2, 0) (2, 1)  (2, 2)  *(2, 3)

  *           *       *   (2, 0) (2, 1) (2, 2) (2, 3) (2, 4) *(2, 0) (2, 1)  (2, 2)  *(2, 3)

    *       *         *   (2, 0) (2, 1) (2, 2) (2, 3) (2, 4) *(2, 0) (2, 1)  (2, 2)  *(2, 3)

      *   *           *   (2, 0) (2, 1) (2, 2) (2, 3) (2, 4) *(2, 0) (2, 1)  (2, 2)  *(2, 3)

        *             *   (2, 0) (2, 1) (2, 2) (2, 3) (2, 4) *(2, 0) (2, 1)  (2, 2)  *(2, 3)

In [465]:
for i in range(n):
    for j in range(n-1):
        # if "'j == 0'" j == 2*n - 1 "'or i == n//2'":
        if j == n - 2 or j==0 :
            print(f"*{i,j}", end=" ")
        else:
            print(f"{i,j} ", end=" ")
    print()

*(0, 0) (0, 1)  (0, 2)  *(0, 3)
*(1, 0) (1, 1)  (1, 2)  *(1, 3)
*(2, 0) (2, 1)  (2, 2)  *(2, 3)
*(3, 0) (3, 1)  (3, 2)  *(3, 3)
*(4, 0) (4, 1)  (4, 2)  *(4, 3)

In [563]:
n=5 
for i in range(n):
    for j in range(2*n):
        if i == j or i+j == 2*n - 2:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    
    for  j in range(5):
        if j == 1 :
            print("*",end=" ")
        else:
            print(" ",end=" ")

    for j in range(5):
        # print(f"{i,j}",end=" ")
        if (i == 0 or i == 4 or i == n//2 or (j==0 and i < n//2) or (j == 4 and i > n//2)):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print("     ", end=" ")
    
    for j in range(6):
        if j == 0 or j == 5 or i == n//2 :
            print("*",end=" ")
        else:
            print(" ",end=" ")

    print("     ", end=" ")

    for j in range (5):
        # print(f"{i,j}",end=" ")
        if j==0 or j ==4 or i == j:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print("     ",end=" ")

    for j in range(5):
        # print(f"{i,j}",end=" ")
        if j == 0 or j == 4 or i ==4 :
            print("*",end=" ")
        else :
            print(" ",end=" ")

    print()

*               *     *       * * * * *       *         *       *       *       *       *
  *           *       *       *               *         *       * *     *       *       *
    *       *         *       * * * * *       * * * * * *       *   *   *       *       *
      *   *           *               *       *         *       *     * *       *       *
        *             *       * * * * *       *         *       *       *       * * * * *

In [14]:
for i in range(5):
    for sp in range(i+1):
        print(" ",end=" ")
    for j in range(5+i-1):
        print("*",end=" ")
   
    print()

  * * * *
    * * * * *
      * * * * * *
        * * * * * * *
          * * * * * * * *

In [1]:
st = 1
while st < 5 :
    print("*",end=" ")
    st += 1 

    sp = 1
    while sp < 10:
        print("*",end=" ")
        sp +=1
    while st < 5 :
        print("*",end=" ")    
        st += 1 
    print()

* * * * * * * * * * * * *