In [11]:
for  playaer in ["Rohit", "Kohli"]:
    print(playaer[0])

R
K

In [19]:
name = "Python"
if name == "java" or " html": # It takes false or true 
    print("Login successful")
else:
    print("Authentication Failed")

Login successful

In [ ]:
i = 1 
while i < 0:
    print(i)
else:
    print("Done")

Done

In [27]:
artist = ["bunny","rihana","ushar"]
print(artist(0))

TypeError: 'list' object is not callable

In [29]:
a = "3"
a *= 2 
print(int(a) + 5)

38

In [30]:
x = None 
if x == False:
    print("hello")
elif x is False:
    print("hello")
elif not x:
    print("hello bro")
else:
    print("bye")

hello bro

In [33]:
word = "developer"
x = word[::-2]
print(x)

rplvd

In [34]:
print(list(range(1,10,3)))

[1, 4, 7]

In [36]:
s1 = "".join(["py","thon"]) 
s2 = "python" 
print(s1 is s2, s1 == s2) # is check identity and == check equality

False True

In [44]:
countries = ["India","France","canada","china","Germany","chile"]

for c in countries:
    if c.startswith("c"):
        countries.remove(c)
print(countries) 
#Modifying a list while iterating over it causes unexpected skipping due to index shifting.
#Never modify a list while iterating over it directly

['India', 'France', 'china', 'Germany']

In [ ]:
d = {} 
d[True] = 'yes' 
d[1] = 'no' 
print(d)

{True: 'no'}

In [ ]:
d = {}
d[False] = "A"
d[0] = "B"
print(d)

{False: 'B'}

In [ ]:
x = 3 
if x % 2 == False:
    print("odd")
elif x % 2 :
    print("even")
else:
    print("none")

even

In [8]:
a = [1,2,3] 
# b = a 
a = a + [4] 
b = a
a = a + [5,6]
print(b)

[1, 2, 3, 4]

In [10]:
for i ,v in enumerate([10,20,30,40], start = 1):
    pass 
print(i,v)

4 40

In [38]:
dic = ["it","is okay","to have","some plan as","backup plan"]
# dic = [12,"it " , "okay" , "to" , "have"]
for index,char in enumerate(dic) :
    # if index % 2 != 0:
        print(index,char)

0 it
1 is okay
2 to have
3 some plan as
4 backup plan

dic = "it is okay to have some plan as backup plan"
for index, char in dic.split() :
    # if index % 2 != 0:
        print(index,char)

In [ ]:
num = 42 
print(f"{num:>10}{num:<5}")

        4242

In [40]:
n = 5 
for i in range(n):
    for j in range(2*n):
        print(f"{i,j}",end=" ")
        if i+j == n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

(0, 0)   (0, 1)   (0, 2)   (0, 3)   (0, 4) * (0, 5)   (0, 6)   (0, 7)   (0, 8)   (0, 9)
(1, 0)   (1, 1)   (1, 2)   (1, 3) * (1, 4)   (1, 5)   (1, 6)   (1, 7)   (1, 8)   (1, 9)
(2, 0)   (2, 1)   (2, 2) * (2, 3)   (2, 4)   (2, 5)   (2, 6)   (2, 7)   (2, 8)   (2, 9)
(3, 0)   (3, 1) * (3, 2)   (3, 3)   (3, 4)   (3, 5)   (3, 6)   (3, 7)   (3, 8)   (3, 9)
(4, 0) * (4, 1)   (4, 2)   (4, 3)   (4, 4)   (4, 5)   (4, 6)   (4, 7)   (4, 8)   (4, 9)

In [41]:
n = 5

for i in range(n):
    for j in range(n):
        # Left line
        if j == 0 and i != 0:
            print("*", end="")
        # Right line
        elif j == n-1 and i != 0:
            print("*", end="")
        # Top middle
        elif i == 0 and j == n//2:
            print("*", end="")
        # Middle line
        elif i == n//2:
            print("*", end="")
        else:
            print(" ", end="")
    print()

  *
*   *
*****
*   *
*   *

In [ ]:
n = 5 
for i in range(n):
    for j in range(n):
        if i == j:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*
  *
    *
      *
        *

In [ ]:
# print statement
print("Hello World")
print("Vishnu Dalvi")
print("Hello Python")
print("Hello Vishnu")

Hello World
Vishnu Dalvi
Hello Python
Hello Vishnu

In [13]:
# arithmetic operations
n1 = float(input("ENter a first number"))
n2 = float(input("ENter a second number"))
sum = n1 + n2 
sub = n1 - n2 
div = n1 / n2 
mul = n1 * n2 
Rem = n1 % n2 
print(f"sum : {n1} + {n2} = {sum}")
print(f"sub : {n1} - {n2} = {sub}")
print(f"div : {n1} / {n2} = {div}")
print(f"mul : {n1} * {n2} = {mul}")
print(f"Rem: {n1} % {n2} = {Rem}")

sum : 10.0 + 2.0 = 12.0
sub : 10.0 - 2.0 = 8.0
div : 10.0 / 2.0 = 5.0
mul : 10.0 * 2.0 = 20.0
Rem: 10.0 % 2.0 = 0.0

In [7]:
n1 = float(input("ENter a first number"))
n2 = float(input("ENter a second number"))
if n2 == 0 :
    print(f"Division by zero is not allowed")
else:
    div = n1 / n2 
    print(f"division of {n1} / {n2} = {div}")

Division by zero is not allowed

In [54]:
# area of triangle 
base = float(input("Enter the value of base"))
height = float(input("Enter the value of height")) 
area = 0.5 * base * height 
print(f"The area of the triangle is : {area}")

The area of the triangle is : 10.0

In [17]:
# sawp variables 
x = input("enter the value of the first variable :")
y = input("enter the value of the second variable :")
print(f"original values : a = {x}, b = {y}")
another_variable = x
x = y 
y = another_variable
print(f"swapped values : a = {x}, b = {y}")

original values : a = 10, b = 20
swapped values : a = 20, b = 10

In [53]:
# import random number 
import random 
print(f"Random number : {random.randint(1,100)}")

Random number : 18

In [56]:
# convert km into miles 
k = float(input("Enter distance in kilometers : ")) 
conversion = 0.621371 

miles = k * conversion 
print(f"{k} kilometers is equal to {miles} miles")

100.0 kilometers is equal to 62.137100000000004 miles

In [58]:
# conter degree celsius into fahrenheit 
celsius = float(input("Enter temperature in Celsius")) 
fahrenheit = (celsius * 9 / 5) + 32 
print(f"{celsius} degree Celsius is equal to {fahrenheit} degrees fahrenheit")

37.0 degree Celsius is equal to 98.6 degrees fahrenheit

In [73]:
import calendar 
year = int(input("Enter a year:"))
month = int(input("Enter a month:"))  

cal = calendar.month(year,month)
print(cal)

     June 2026
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [78]:
import math 
# ax2 + bx + c = 0
a = float(input("Enter coefficient a :"))
b = float(input("Enter coefficient b :"))
c = float(input("Enter coefficient c :")) 
# check wheather real or not 
check = b ** 2 - 4*a*c 
# condition if b**2 - 4*a*c is positive,zero or negetive 
if check > 0 : #two real roots 
    root1 = ( -b + math.sqrt(check)) / (2 * a)
    root2 = ( -b + math.sqrt(check)) / (2 * a) 
    print(f"Root 1 : {root1}")
    print(f"Root 1 : {root2}") 
elif check == 0: # one real root
    root = -b / (2 * a)
    print(f"Root : {root}")
else :
    # not real / complex root 
    real_check  = -b / (2 *a)
    notreal_part = math.sqrt(abs(check) / (2 *a))
    print(f"Root 1 : {real_check} + {notreal_part}i")
    print(f"Root 2 : {real_check} + {notreal_part}i")

Root 1 : -2.0 + 2.8284271247461903i
Root 2 : -2.0 + 2.8284271247461903i

In [83]:
a = 12
b = 20 
# swap without temprary variable 
a , b = b , a
print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 20
b = 12

In [88]:
# check number is psoitive or not 
n = int(input("Enter a number"))
if n == 0:
    print("Zero")
elif n > 0:
    print("positive")
else :
    print("Negetive")

Negetive

In [93]:
# check odd / even 
n = int(input("Enter a number"))
print(f"Typed Number: {n}")
if n % 2 == 0:
    print("even")
else :
    print("odd")

Typed Number: 4
even