# Sets In Python

In [3]:
# Initialization 

s1 = {1, 2, 3} 
s2 = set() 
s3 = {} 

print(f"Set 1 : {s1}\n Data Type : {type(s1)}\nMemory Location : {id(s1)}\n")
print(f"Set 2 : {s2}\n Data Type : {type(s2)}\nMemory Location : {id(s2)}\n")
print(f"Set 3 : {s3}\n Data Type : {type(s3)}\nMemory Location : {id(s3)}\n")

Set 1 : {1, 2, 3}
 Data Type : <class 'set'>
Memory Location : 2359480869024

Set 2 : set()
 Data Type : <class 'set'>
Memory Location : 2359480869248

Set 3 : {}
 Data Type : <class 'dict'>
Memory Location : 2359506125184

In [5]:
s = {8, 2, 54, 1, 5, 2, 5, 23, 23, 25, 12, 235, 23}
print(s)

{1, 2, 5, 8, 235, 12, 54, 23, 25}

In [6]:
print(s)

{1, 2, 5, 8, 235, 12, 54, 23, 25}

In [9]:
# # Accessing 

# s[0] # TypeError: 'set' object is not subscriptable

In [18]:
# Insertion : Single Element 



data = int(input(f"Enter the number you want to add in the set\nSet = {s}"))

print(f"Data to Insert in the set : {data}")
print(f"Before Updation\nSet = {s}")
s.add(data) 
print(f"After Updation\nSet = {s}")

Data to Insert in the set : 5
Before Updation
Set = {1, 2, 2435, 4, 3, 4362, 74, 23, 26, 734, 34, 35, 36, 6243, 37, 45, 124}
After Updation
Set = {1, 2, 2435, 4, 3, 5, 4362, 74, 23, 26, 734, 34, 35, 36, 6243, 37, 45, 124}

In [20]:
# Insertion : Multiple Elements (Alternative 1 : Loop Method) 

s = {23,  4362, 35, 4, 74, 6243, 45, 734, 124, 2435, 37,26}

print(f"Original Set : {s}")

n = int(input("Enter the number of elements you want to insert in the set : "))


for i in range(n):
    data = int(input("Enter the data : "))
    s.add(data) 

print(f"Updated Set : {s}")

Original Set : {35, 4, 37, 6243, 2435, 4362, 74, 45, 23, 26, 124, 734}
Updated Set : {35, 4, 37, 6243, 2435, 4362, 74, 10, 45, 20, 23, 26, 124, 734}

In [ ]:
s = {23, 23, 2, 34, 1, 4}

newset = {6,5,3,8,4}

print(f"s = {s}, length = {len(s)}")
s.update(newset)
print(f"s = {s}, length = {len(s)}")

s = {1, 2, 34, 4, 23}, length = 5
s = {1, 2, 34, 4, 3, 5, 6, 8, 23}, length = 9

In [25]:
# Set Comprehension 

newset = {int(item) for item in input().split()}
print(newset)

{8, 1, 2, 4}

In [26]:
s = {23, 23, 2, 34, 1, 4}

newset = {int(item) for item in input().split()}

print(f"s = {s}, length = {len(s)}")
s.update(newset)
print(f"s = {s}, length = {len(s)}")

s = {1, 2, 34, 4, 23}, length = 5
s = {1, 2, 34, 4, 10, 20, 23, 30}, length = 8

In [39]:
# Deletion 

s = {8, 2, 4,  1, 5, 10, 30, 20, 34}

print(f"Set = {s}")

# Element Wise Deletion (Index wise deletion Not possible) 

s.remove(10) 

print(f"Set = {s}")

# s.remove(100) # KeyError: 100 (Note : if key not present, then display error)

# Use the discard function 

s.discard(100) 
print(f"Set = {s}")

s.discard(34) 
print(f"Set = {s}")

# Random Element Deletion 

s.pop() 
print(f"Set = {s}")

s.pop() 
print(f"Set = {s}")

s.pop() 
print(f"Set = {s}")

# Deletion all the elements in the set 
s.clear() 

print(f"Set = {s}")

# Delete the whole set 
del s 

# print(f"Set = {s}")  # NameError: name 's' is not defined

Set = {1, 2, 34, 4, 5, 8, 10, 20, 30}
Set = {1, 2, 34, 4, 5, 8, 20, 30}
Set = {1, 2, 34, 4, 5, 8, 20, 30}
Set = {1, 2, 4, 5, 8, 20, 30}
Set = {2, 4, 5, 8, 20, 30}
Set = {4, 5, 8, 20, 30}
Set = {5, 8, 20, 30}
Set = set()

In [46]:
s1 = {1, 2, 3, 4}  
s2 = {3, 4, 5, 6} 
'''
Union : Select all the elements from both the sets 
Intersection : Select common elements from the sets
Difference : 
Symmetric_Difference :

'''

print(f"Set 1 : {s1}\nSet 2 : {s2}\nUnion : {s1.union(s2)}\nInsersection :{s1.intersection(s2)}\n{s1} - {s2} : {s1.difference(s2)}\n{s2} - {s1} : {s2.difference(s1)}\nSymmetric Difference : {s1.symmetric_difference(s2)}")

Set 1 : {1, 2, 3, 4}
Set 2 : {3, 4, 5, 6}
Union : {1, 2, 3, 4, 5, 6}
Insersection :{3, 4}
{1, 2, 3, 4} - {3, 4, 5, 6} : {1, 2}
{3, 4, 5, 6} - {1, 2, 3, 4} : {5, 6}
Symmetric Difference : {1, 2, 5, 6}

In [48]:
s1.difference(s2)

{1, 2}

In [49]:
s1 - s2

{1, 2}

In [50]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [51]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [52]:
s1 & s2

{3, 4}

In [58]:
s1 = {1, 2, 3, 4} 
s2 = {3, 4, 5, 6} 
s3 = {1, 2} 

print(f"{s1} Subset of {s2} : {s1.issubset(s2)}")
print(f"{s1} Subset of {s3} : {s1.issubset(s3)}")
print(f"{s3} Subset of {s1} : {s3.issubset(s1)}")
print(f"{s1} Superset of {s3} : {s1.issuperset(s3)}")
print(f"{s1} Not Joined to  {s2} : {s1.isdisjoint(s2)}")
print(f"{s2} Not Joined to  {s3} : {s2.isdisjoint(s3)}")

{1, 2, 3, 4} Subset of {3, 4, 5, 6} : False
{1, 2, 3, 4} Subset of {1, 2} : False
{1, 2} Subset of {1, 2, 3, 4} : True
{1, 2, 3, 4} Superset of {1, 2} : True
{1, 2, 3, 4} Not Joined to  {3, 4, 5, 6} : False
{3, 4, 5, 6} Not Joined to  {1, 2} : True