# Tuple In Python

In [3]:
# Initialization 

t1 = () 
t2 = tuple() 
t3 = (1, 2, 3) 
t4 = tuple([1, 2, 3]) 

print(f"Tuple 1 : {t1}\nData Type : {type(t1)}\nMemory Location : {id(t1)}\n")
print(f"Tuple 2 : {t2}\nData Type : {type(t2)}\nMemory Location : {id(t2)}\n")
print(f"Tuple 3 : {t3}\nData Type : {type(t3)}\nMemory Location : {id(t3)}\n")
print(f"Tuple 4 : {t4}\nData Type : {type(t4)}\nMemory Location : {id(t4)}\n")

Tuple 1 : ()
Data Type : <class 'tuple'>
Memory Location : 140704696411608

Tuple 2 : ()
Data Type : <class 'tuple'>
Memory Location : 140704696411608

Tuple 3 : (1, 2, 3)
Data Type : <class 'tuple'>
Memory Location : 2334660339136

Tuple 4 : (1, 2, 3)
Data Type : <class 'tuple'>
Memory Location : 2334660585344

In [5]:
t5 = (5)  
print(t5, type(t5))

5 <class 'int'>

In [6]:
t6 = (5, )  
print(t6, type(t6))

(5,) <class 'tuple'>

In [7]:
a, b = 10, 20 

print(a, b)

10 20

In [8]:
c = 10, 20 

print(c, type(c))

(10, 20) <class 'tuple'>

In [12]:
# Accessing (Indexing : Forward & Negative) 

t = (8, 2, 4, 1, 5, 10, 20, 40)
print(f"Original Tuple : {t}") 

print(f"First Element : {t[0]}")
print(f"Last Element : {t[-1]}")

# Slicing (Slicer[Start : Stop : Step])

print(f"First 3 Elements : {t[0:3:1]}")

# Default Values of Slicer : (Start : 0, Stop : len(tuple), Step : 1)
print(f"First 3 Elements : {t[:3:]}")

Original Tuple : (8, 2, 4, 1, 5, 10, 20, 40)
First Element : 8
Last Element : 40
First 3 Elements : (8, 2, 4)
First 3 Elements : (8, 2, 4)

In [13]:
# concept of Multability : (Tuple : Immutable) 

# Insertion, Updation, Deletion Not Allowed

In [14]:
# Looping (All the three types of for loops) 

# Index based for loop (Index --> Accessing --> Data)
for i in range(len(t)):
    print(f"Index : {i}, Data : {t[i]}")

Index : 0, Data : 8
Index : 1, Data : 2
Index : 2, Data : 4
Index : 3, Data : 1
Index : 4, Data : 5
Index : 5, Data : 10
Index : 6, Data : 20
Index : 7, Data : 40

In [15]:
# Item Based for loop 

for item in t:
    print(item)

8
2
4
1
5
10
20
40

In [16]:
# Enumerate Based (Index as well as Data) 

for index, item in enumerate(t):
    print(f"Index : {index}, Data : {item}")

Index : 0, Data : 8
Index : 1, Data : 2
Index : 2, Data : 4
Index : 3, Data : 1
Index : 4, Data : 5
Index : 5, Data : 10
Index : 6, Data : 20
Index : 7, Data : 40

In [18]:
# Membership

print(f"{40} in {t} : {40 in t}")
print(f"{40} not in {t} : {40 not in t}")

40 in (8, 2, 4, 1, 5, 10, 20, 40) : True
40 not in (8, 2, 4, 1, 5, 10, 20, 40) : False

In [19]:
# Passing Tuple as a parameter

In [20]:
from typing import Tuple

In [21]:
def add(a : int, b : int, *x : Tuple[int]) -> int:
    print(f"a = {a}\nb = {b}\nx = {x}")
    ans = a + b 

    for item in x:
        ans += item 
    
    return ans

In [22]:
add(1, 2)

a = 1
b = 2
x = ()

3

In [23]:
add(1, 2, 3)

a = 1
b = 2
x = (3,)

6

In [24]:
add(1, 2, 3, 4)

a = 1
b = 2
x = (3, 4)

10

In [25]:
def add(a : int, b : int, *x : Tuple[int]) -> int:
    return a + b + sum(x)

In [26]:
add(1, 2, 3,  4, 5)

15

In [28]:
# Tuple Comprehension 

t = (item for item in input().split()) # Tuple[str] 

print(t) 

li = list(t) 

print(li)

<generator object <genexpr> at 0x0000021F95356B50>
['1', '2', '3', '4', '5']

In [30]:
t =  tuple(item for item in input().split())

for item in t:
    print(item)

1
2
2
3
4